$number: 22;
$increment: -10; //1st row lighten, 2nd row darken

$colors: (
    rgb(64, 150, 165),
    rgb(64, 150, 165),
    rgb(204, 148, 44),  
    rgb(204, 148, 44),  
    rgb(138,43,226),
    rgb(138,43,226),
    rgb(148, 245, 172),
    rgb(148, 245, 172),
);

// -------------------

@function getNewColor($value,$increment) {
    
    $value: $value + $increment;

    @if($increment >= 0) {
        @if($value > 255) {
            $value: 255;
        }
    };
    
    @if($increment < 0) {
        @if($value < 0) {
            $value: 0;
        }
    };

    @return $value;
}

// -------------------

@function getTextColorForContent($color) {

    $colorText: rgb(44, 44, 44);
    @if(red($color) < 125) {
        $colorText: rgb(224, 222, 222);
    }

    @return $colorText;
}

// -------------------
  
body {
    background: #f2f2f2;
    padding: 0;
    margin: 5px;
    font-family: sans-serif;
  }

// -------------------

.container {
    display: flex;
    flex-direction: column;
}

// -------------------

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    align-items: center;
    justify-content: flex-start;
    padding: 1px;
}

// -------------------

@mixin flex {  
    margin: 0px 0px 0px 1px;
    text-align: center;
    height: 95px;
    width: 50px;
    line-height: 100px;
}

// -------------------

@mixin hover {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 3px;
}

// -------------------

@for $i from 1 to length($colors) + 1 {

    .container > .flex-container:nth-child(#{$i}) > .item {
    
        @include flex;
 
        $c: nth($colors, $i);

        $increment: $increment * -1;

        @for $j from 1 to $number + 1 {

            $inc: $increment * ($j - 1);
            $red: getNewColor(red($c),$inc);
            $green: getNewColor(green($c),$inc);
            $blue: getNewColor(blue($c),$inc);
            $color: rgb($red, $green, $blue);

            &:nth-child(#{$j}) {
                flex-grow: 1;
                background: $color;
            }

            &:nth-child(#{$j}):hover::before {
                @include hover;  
            }
    
            &:nth-child(#{$j}):before {
                content: '' + $color;
                color: getTextColorForContent($color);
                font-family: sans-serif;
            }
        }  
    }
}


