<template>
<nav>
    <v-toolbar flat app>
        <v-toolbar-side-icon class="grey--text" @click="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title class="text-uppercase grey--text">
            <span class="font-weight-black">GitHub </span>
            <span class="font-weight-light">Members</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
       
        <SearchForm />
 
        <v-btn flat color="grey">
            <span>Sign Out</span>
            <v-icon right>exit_to_app</v-icon>
        </v-btn>
    </v-toolbar>

    <v-navigation-drawer v-model="drawer" app class="lime darken-1">
        <v-layout column align-center>
                <v-flex class="mt-5">
                    <v-avatar size=80 color="grey lighten-4">
                        <img src="@/assets/logo.jpg">
                    </v-avatar>
                </v-flex>
   
            </v-layout> 
        <v-list>
            <v-list-tile v-for="link in links" :key="link.text" router :to="link.route">
                <v-list-tile-action>
                    <v-icon class="white--text">{{ link.icon }}</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title class="white--text">
                        {{ link.text }}
                    </v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>

</nav>
</template>

<script>

import SearchForm from "./SearchForm.vue"

export default {
    components: {
        SearchForm
    },
    data() {
        return {
            drawer: false,
            links: [{
                    icon: 'dashboard',
                    text: 'Home',
                    route: '/'
                },
                {
                    icon: 'group',
                    text: 'Members',
                    route: '/members'
                },
            ],
            orgs: [],
        }
    },
    
}
</script>
