<template>
<v-dialog max-width="600px" v-model="dialog" @keydown.esc="dialog = false">
    <v-btn flat slot="activator" color="grey">
        <v-icon left>search</v-icon>
        Search
    </v-btn>
    <v-card>
        <v-card-title>
            <h2>Search</h2>
        </v-card-title>
        <v-card-text>
            <v-form ref="form" class="px-3" v-on:submit.prevent="submit">
                <v-text-field v-if="dialog" autofocus label="Organization" v-model="organization" placeholder="ex. lemoncode" prepend-icon="group" :rules="inputRules"></v-text-field>
                <v-btn flat class="success mx-0 mt-3" @click="submit" :loading="loading">Go</v-btn>
            </v-form>
        </v-card-text>

        <v-alert :value="alert" color="error" dismissible>
            {{ error }}
        </v-alert>

    </v-card>
</v-dialog>
</template>

<script>
import {
    eventBus
} from '../main'

export default {
    data() {
        return {
            organization: '',
            inputRules: [
                v => v.length >= 3 || 'Minimum length is 3 characters'
            ],
            loading: false,
            dialog: false,
            alert: false,
            error: ''
        }
    },
    methods: {
  
        submit() {
            if (this.$refs.form.validate()) {

                this.alert = false;
                this.loading = true;

                const url = `https://api.github.com/orgs/${this.organization}/members`;

                this.$http.get(url)
                    .then(response => {
                        this.loading = false;
                        this.dialog = false;
                        eventBus.$emit('eventMemberList', {
                            organization: this.organization,
                            body: response.body
                        })
                    })
                    .catch(error => {
                        this.loading = false;
                        this.error = error.statusText;
                        this.alert = true
                    })

            }
        },

    }

}
</script>
