<h2>Members Page</h2>

<input (keyup.enter)="loadMembers()" [(ngModel)]="organizationName" placeholder="Ex. lemoncode">
<button (click)="loadMembers()">Load</button>

<h2 style="color: red" *ngIf="error">{{ errorMessage }}</h2>

<app-my-table *ngIf="!error" [caption]="'List of Members'" [members]="members" [columns]="['avatar_url', 'id', 'login']">
</app-my-table>