<table class="table" *ngIf="members !== undefined">

  <!-- -------------------- -->

  <caption *ngIf="caption">
    <h1>{{ caption }}</h1>
  </caption>

  <!-- -------------------- -->

  <thead>
    <tr>
      <th *ngFor="let col of columns">{{ col }}</th>
    </tr>
  </thead>

  <!-- -------------------- -->

  <tbody>
    <tr *ngFor="let member of members">
      <td *ngFor="let col of columns">

        <div *ngIf="col === 'avatar_url'">
          <img [src]="member[col]" style="max-width:100px;" />
        </div>
        <div *ngIf="col !== 'avatar_url'">
          {{member[col]}}
        </div>

      </td>
    </tr>
  </tbody>

  <!-- -------------------- -->

</table>

<!-- -------------------- -->