
body {
    font-family: sans-serif;
}

.main { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

@mixin theme(   $selector, $color: red , $font-family: sans-serif, $font-size: 14pt, $border-radius: 20px, 
                $box-shadow: 10px 10px 5px grey, $background-color: lightgray,$width: 300px, $height: auto) {

    #{$selector} {
        color: $color;
        font-family: $font-family;
        font-size: $font-size;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        background-color: $background-color;
        width: $width;
        height: $height;
    };

};


@include theme ('.theme');

@include theme ( '.theme:hover', $color: black , $font-family: Impact, $font-size: 20pt, $border-radius: 3px, 
                 $box-shadow: -10px 10px 20px chocolate, $background-color: complement(chocolate), $width: 700px );             







