body {
  font-family: sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}

.theme {
  color: red;
  font-family: sans-serif;
  font-size: 14pt;
  border-radius: 20px;
  box-shadow: 10px 10px 5px grey;
  background-color: lightgray;
  width: 300px;
  height: auto;
}

.theme:hover {
  color: black;
  font-family: Impact;
  font-size: 20pt;
  border-radius: 3px;
  box-shadow: -10px 10px 20px chocolate;
  background-color: #1e87d2;
  width: 700px;
  height: auto;
}
