// -------------------
  
body {
    background: #383838;
    padding: 0;
    margin: 0;
    font-size: 2vw;
  }

// -------------------

.container {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    min-height: 100vh;
}

// -------------------

.visible {
     visibility: visible;
}

// -------------------

.main {
     width: 100%;
};

// -------------------

.container > .navbar1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(241, 197, 241);
    align-items: flex-start;
    justify-content: space-between;
}

// -------------------

.container > .navbar2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(158, 154, 158);
    align-items: center;
    justify-content: flex-start; 
}

// -------------------

.container > .navbar2 > .item1 {
    flex-grow: 1;
}

// -------------------

.container > .navbar2 > .item2 {
    flex-grow: 1;
    margin: 1px 1px 5px 1px;
    background-color: rgb(219, 221, 223);
    text-align: center;
}

// -------------------

@media only screen and (max-width: 320px) {

    .container > .main  {      
        margin: auto;
    }

    .visible {
        visibility: hidden;
    }

    .container > .navbar2 > .item2 {
        margin: 1px 1px 1px 1px;
    }
}