.button-color--default {
  background-color: chalk;
  border-radius: 10px;
  cursor: pointer;
}

.button-color--blush {
  background-color: blush;
  border-radius: 10px;
  cursor: pointer;
}

.button-color--brick {
  background-color: brick;
  border-radius: 10px;
  cursor: pointer;
}

.button-color--pink {
  background-color: pink;
  border-radius: 10px;
  cursor: pointer;
}

.button-color--slate {
  background-color: slate;
  border-radius: 10px;
  cursor: pointer;
}

.button-color--orange {
  background-color: orange;
  border-radius: 10px;
  cursor: pointer;
}

.button-color--deeppink {
  background-color: deeppink;
  border-radius: 10px;
  cursor: pointer;
}

.button-color--indianred {
  background-color: indianred;
  border-radius: 10px;
  cursor: pointer;
}

.button-color--gray {
  background-color: gray;
  border-radius: 10px;
  cursor: pointer;
}

.button-color--lime {
  background-color: lime;
  border-radius: 10px;
  cursor: pointer;
}
