
$colors-list:(
  default: 'chalk',
  blush: 'blush',
  brick: 'brick',
  pink: 'pink',
  slate: 'slate',
  orange: 'orange',
  deeppink: 'deeppink',
  indianred: 'indianred',
  gray: 'gray',
  lime: 'lime'
);

@each $key,$val in $colors-list{
    .button-color--#{$key} {
      background-color: #{$val};
      border-radius: 10px;
      cursor: pointer;
    }
  }