
$selectorMap: (
  container_1         : ".container_1",
  container_1_2       : ".container_1 > .container_2",
  container_1_2_Links : ".container_1 > .container_2 > .links",
  container_1_2_AB    : ".container_1 > .container_2 > .columns_AB",
  container_1_2_AB_A  : ".container_1 > .container_2 > .columns_AB  > .column_A",
  container_1_2_AB_B  : ".container_1 > .container_2 > .columns_AB  > .column_B"
);

// -------------------

@mixin flex($selector, $direction: column, $width: 100%, $height: 100vh, 
            $align-items: center, $justify-content: center, $background-color: #c5c5c5, $font-family: sans-serif) {

            #{map-get($selectorMap, $selector)} {
                display: flex;
                flex-direction: $direction;
                width: $width;
                height: $height;
                align-items: $align-items;
                justify-content: $justify-content;
                background-color: $background-color;
                font-family: $font-family;
    }
}

// -------------------

@mixin container_1 {
     @include flex($selector: container_1) };
@mixin container_1_2 { 
    @include flex($selector: container_1_2, $direction: row, $width: 70%) };
@mixin container_1_2_Links { 
    @include flex($selector: container_1_2_Links, $width: 30%, $align-items: left, $justify-content: space-around, $background-color: pink) };
@mixin container_1_2_AB { 
    @include flex($selector: container_1_2_AB, $width: 70%, $align-items: left, $justify-content: flex-start) };
@mixin container_1_2_AB_A {
     @include flex($selector: container_1_2_AB_A, $direction: row, $height: 50vh, $align-items: left, $justify-content: flex-start, $background-color: yellow) };
@mixin container_1_2_AB_B { 
    @include flex($selector: container_1_2_AB_B, $direction: row, $height: 50vh, $align-items: left, $justify-content: flex-start, $background-color: blue) };

// -------------------

@mixin rules_break_0 {
    @include container_1;
    @include container_1_2;
    @include container_1_2_Links;
    @include container_1_2_AB;
    @include container_1_2_AB_A;
    @include container_1_2_AB_B;
}

// -------------------

@mixin rules_break_1 {
    @include container_1;
    @include flex($selector: container_1_2, $direction: row, $width: 90%);
    @include container_1_2_Links;
    @include container_1_2_AB;
    @include container_1_2_AB_A;
    @include container_1_2_AB_B;
};
   
// -------------------

@mixin rules_break_2 {
    @include container_1;
    @include flex($selector: container_1_2);
    @include flex($selector: container_1_2_Links, $direction: row, $height: 20vh, $align-items: center, $justify-content: space-around, $background-color: pink);
    @include flex($selector: container_1_2_AB, $height: 80vh, $align-items: left, $justify-content: flex-start, $background-color: none);
    @include container_1_2_AB_A;
    @include container_1_2_AB_B;
}

// -------------------

@mixin rules_break_3 {
    @include container_1;
    @include flex($selector: container_1_2);
    @include flex($selector: container_1_2_Links, $direction: row, $height: auto, $align-items: left, $justify-content: flex-start, $background-color: pink);
    @include flex($selector: container_1_2_AB, $align-items: left, $justify-content: flex-start, $background-color: none);
    @include container_1_2_AB_A;
    @include container_1_2_AB_B;
};

// -------------------

@media only screen and (max-width: 9999em) { @include rules_break_0 }
@media only screen and (max-width: 75em  ) { @include rules_break_1 }
@media only screen and (max-width: 54em  ) { @include rules_break_2 }
@media only screen and (max-width: 30em  ) { @include rules_break_3 }