@media only screen and (max-width: 9999em) {
  .container_1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #c5c5c5;
    font-family: sans-serif;
  }
  .container_1 > .container_2 {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #c5c5c5;
    font-family: sans-serif;
  }
  .container_1 > .container_2 > .links {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    align-items: left;
    justify-content: space-around;
    background-color: pink;
    font-family: sans-serif;
  }
  .container_1 > .container_2 > .columns_AB {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100vh;
    align-items: left;
    justify-content: flex-start;
    background-color: #c5c5c5;
    font-family: sans-serif;
  }
  .container_1 > .container_2 > .columns_AB > .column_A {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
    align-items: left;
    justify-content: flex-start;
    background-color: yellow;
    font-family: sans-serif;
  }
  .container_1 > .container_2 > .columns_AB > .column_B {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
    align-items: left;
    justify-content: flex-start;
    background-color: blue;
    font-family: sans-serif;
  }
}

@media only screen and (max-width: 75em) {
  .container_1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #c5c5c5;
    font-family: sans-serif;
  }
  .container_1 > .container_2 {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #c5c5c5;
    font-family: sans-serif;
  }
  .container_1 > .container_2 > .links {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    align-items: left;
    justify-content: space-around;
    background-color: pink;
    font-family: sans-serif;
  }
  .container_1 > .container_2 > .columns_AB {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100vh;
    align-items: left;
    justify-content: flex-start;
    background-color: #c5c5c5;
    font-family: sans-serif;
  }
  .container_1 > .container_2 > .columns_AB > .column_A {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
    align-items: left;
    justify-content: flex-start;
    background-color: yellow;
    font-family: sans-serif;
  }
  .container_1 > .container_2 > .columns_AB > .column_B {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
    align-items: left;
    justify-content: flex-start;
    background-color: blue;
    font-family: sans-serif;
  }
}

@media only screen and (max-width: 54em) {
  .container_1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #c5c5c5;
    font-family: sans-serif;
  }
  .container_1 > .container_2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #c5c5c5;
    font-family: sans-serif;
  }
  .container_1 > .container_2 > .links {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-content: space-around;
    background-color: pink;
    font-family: sans-serif;
  }
  .container_1 > .container_2 > .columns_AB {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    align-items: left;
    justify-content: flex-start;
    background-color: none;
    font-family: sans-serif;
  }
  .container_1 > .container_2 > .columns_AB > .column_A {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
    align-items: left;
    justify-content: flex-start;
    background-color: yellow;
    font-family: sans-serif;
  }
  .container_1 > .container_2 > .columns_AB > .column_B {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
    align-items: left;
    justify-content: flex-start;
    background-color: blue;
    font-family: sans-serif;
  }
}

@media only screen and (max-width: 30em) {
  .container_1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #c5c5c5;
    font-family: sans-serif;
  }
  .container_1 > .container_2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #c5c5c5;
    font-family: sans-serif;
  }
  .container_1 > .container_2 > .links {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: left;
    justify-content: flex-start;
    background-color: pink;
    font-family: sans-serif;
  }
  .container_1 > .container_2 > .columns_AB {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: left;
    justify-content: flex-start;
    background-color: none;
    font-family: sans-serif;
  }
  .container_1 > .container_2 > .columns_AB > .column_A {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
    align-items: left;
    justify-content: flex-start;
    background-color: yellow;
    font-family: sans-serif;
  }
  .container_1 > .container_2 > .columns_AB > .column_B {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
    align-items: left;
    justify-content: flex-start;
    background-color: blue;
    font-family: sans-serif;
  }
}
