<template>
  <div class="home">
    <h1>Home</h1>
    <p class="title ml-5 mt-5 grey--text font-weight-black">Instructions</p>
    <p class="title ml-5 my-0 grey--text">Click Hamburger button, located at the top left corner, and click Members option</p>
    <p></p>
    <v-btn class="hidden-sm-and-up pink white--text">Click Me</v-btn>
    
  </div>
</template>

<script>

  export default {
  }

</script>

<style>

</style>

