<template>
<div class="members">
    <h1>Members</h1>
    <p class="title ml-5 mt-5 grey--text font-weight-black">Instructions</p>
    <p class="title ml-5 my-0 grey--text">Click Search button, located at the top right corner, and fill out the form</p>
    <p></p>

    <v-container class="purple lighten-2 px-0 py-0 black--text">
        <v-layout class="grey lighten-4 px-2 py-2 " row wrap>

            <v-flex xs12 v-if="organization.length > 0">
                <h1 class="grey font-weight-black text-uppercase white--text">&nbsp;{{ organization }}</h1>
            </v-flex>

            <v-flex xs6 v-if="organization.length > 0" class="my-2 text-xs-left">
                <v-select style="width:25%" box v-model="cardsperpage" :items="NumCardsPerPage" label="Number of Cards"></v-select>
            </v-flex>

            <v-flex xs6 v-if="organization.length > 0" class="my-2 text-xs-right">
                <v-pagination v-model="page" :length="circles" circle @previous="getItemsPage()" @next="getItemsPage()"></v-pagination>
            </v-flex>

            <v-flex class="grey lighten-2 px-2 py-2 " xs12 md6 lg2 v-for="item in itemsPage" :key="item.login">

                <v-card flat class="grey lighten-3 text-xs-center ma-0">
                    <v-responsive class="pt-4">
                        <v-avatar size="100" class="grey lighten-2">
                            <img :src="item.avatar_url">
                        </v-avatar>
                    </v-responsive>
                    <v-card-text>
                        <div class="subheading">{{ item.login }}</div>
                        <div class="grey--text">{{ item.id }}</div>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn flat color="grey">
                            <v-icon left>link</v-icon>
                            <span>Details</span>
                        </v-btn>
                    </v-card-actions>
                </v-card>

            </v-flex>

        </v-layout>
    </v-container>

</div>
</template>

<script>
import {
    eventBus
} from '../main'

export default {
    data() {
        return {
            items: [],
            itemsPage: [],
            organization: '',
            page: 1,
            cardsperpage: 10,
            circles: 1,
            NumCardsPerPage: [1,5,10,20]
        }
    },
    watch: {
        page() {
            this.getItemsPage()
        },
        cardsperpage() {
            this.page = 1
            this.getItemsPage()
        },

    },
    created() {
        eventBus.$on('eventMemberList', data => {
            this.items = data.body
            this.organization = data.organization;
            this.getItemsPage()
        })
    },
    methods: {
        getItemsPage() {
            const start = (this.page - 1) * this.cardsperpage;
            const end = start + this.cardsperpage
            this.itemsPage = this.items.slice(start, end)
            this.circles = Math.ceil(this.items.length / this.cardsperpage)
        }
    }
}
</script>

<style>
.myborder {
    border: 1px solid red
}
</style>
