@import "reset.css";

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');


body {
    margin: 0;
    padding:0;
    // background-color: complement( tomato);
    background-color: rgb(250, 241, 241);
}

$selectorMap: (

    menu_A: '.menu > .row_A',
    menu_B: '.menu > .row_B',

    g1                          : '.grid-1',
    
    g1-c1-b1                    : '.grid-1 > .col-1 > .box-1',
    g1-c2-b1                    : '.grid-1 > .col-2 > .box-1',
    g1-c2-b2                    : '.grid-1 > .col-2 > .box-2',

    g1-c1-b1-g1                 : '.grid-1 > .col-1 > .box-1 > .grid-1',
    g1-c1-b1-g2                 : '.grid-1 > .col-1 > .box-1 > .grid-2',
    g1-c1-b1-g3                 : '.grid-1 > .col-1 > .box-1 > .grid-3',
    g1-c2-b2-g1                 : '.grid-1 > .col-2 > .box-2 > .grid-1',
    
    g1-c1-b1-g1-b1              : '.grid-1 > .col-1 > .box-1 > .grid-1 > .box-1',    
    g1-c1-b1-g1-b2              : '.grid-1 > .col-1 > .box-1 > .grid-1 > .box-2',    
    g1-c1-b1-g2-b1              : '.grid-1 > .col-1 > .box-1 > .grid-2 > .box-1',
    g1-c1-b1-g2-b2              : '.grid-1 > .col-1 > .box-1 > .grid-2 > .box-2',
    g1-c1-b1-g3-b1              : '.grid-1 > .col-1 > .box-1 > .grid-3 > .box-1',
    g1-c2-b2-g1-b1              : '.grid-1 > .col-2 > .box-2 > .grid-1 > .box-1',
    g1-c2-b2-g1-b2              : '.grid-1 > .col-2 > .box-2 > .grid-1 > .box-2',
    g1-c2-b2-g1-b3              : '.grid-1 > .col-2 > .box-2 > .grid-1 > .box-3',

    g1-c1-b1-g1-b1-g1           : '.grid-1 > .col-1 > .box-1 > .grid-1 > .box-1 > .grid-1',    
    g1-c1-b1-g1-b2-g1           : '.grid-1 > .col-1 > .box-1 > .grid-1 > .box-2 > .grid-1',    
    g1-c1-b1-g2-b1-g1           : '.grid-1 > .col-1 > .box-1 > .grid-2 > .box-1 > .grid-1',
    g1-c1-b1-g3-b1-g1           : '.grid-1 > .col-1 > .box-1 > .grid-3 > .box-1 > .grid-1',

    g1-c1-b1-g1-b1-g1-b1        : '.grid-1 > .col-1 > .box-1 > .grid-1 > .box-1 > .grid-1 > .box-1',    
    g1-c1-b1-g1-b1-g1-b2        : '.grid-1 > .col-1 > .box-1 > .grid-1 > .box-1 > .grid-1 > .box-2',    
    g1-c1-b1-g1-b2-g1-b1        : '.grid-1 > .col-1 > .box-1 > .grid-1 > .box-2 > .grid-1 > .box-1',    
    g1-c1-b1-g1-b2-g1-b2        : '.grid-1 > .col-1 > .box-1 > .grid-1 > .box-2 > .grid-1 > .box-2',    
    
    g1-c1-b1-gs                 : '.grid-1 > .col-1 > .box-1 > .grid-space',
    
    g1-c1-b1-g2-b1-g1-b1        : '.grid-1 > .col-1 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-1',
    g1-c1-b1-g2-b1-g1-b2        : '.grid-1 > .col-1 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-2',
    g1-c1-b1-g3-b1-g1-b1        : '.grid-1 > .col-1 > .box-1 > .grid-3 > .box-1 > .grid-1 > .box-1',
    g1-c1-b1-g3-b1-g1-b2        : '.grid-1 > .col-1 > .box-1 > .grid-3 > .box-1 > .grid-1 > .box-2',

    g1-c1-b1-g2-b1-g1-b1-g1     : '.grid-1 > .col-1 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-1 > .grid-1',
    g1-c1-b1-g2-b1-g1-b2-g1     : '.grid-1 > .col-1 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-2 > .grid-1',

    g1-c1-b1-g2-b1-g1-b1-g1-b1  : '.grid-1 > .col-1 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-1 > .grid-1 > .box-1',
    g1-c1-b1-g2-b1-g1-b1-g1-b2  : '.grid-1 > .col-1 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-1 > .grid-1 > .box-2',
    g1-c1-b1-g2-b1-g1-b2-g1-b1  : '.grid-1 > .col-1 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-2 > .grid-1 > .box-1',
    g1-c1-b1-g2-b1-g1-b2-g1-b2  : '.grid-1 > .col-1 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-2 > .grid-1 > .box-2',
    
);


// .header {
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-template-rows: 1fr 1fr;
//     background-color: green;
//     height: 20vh;
//  }
 
 
//  .header > .menu1 {
//     display: grid;
//     grid-template-columns: 5% 80% 15%;
//     grid-template-rows: 1fr;
//     background-color: pink;
//  }
 
//  .header > .menu1 > .box-1 {
//      display: flex;
//      flex-direction: col;
//      background-color: tomato;
//      justify-content: center;
//      align-items: center;
 
//  }
 
// .divRoot {
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-template-rows: 1fr 1fr;
//     background-color: green;
//     height: 20vh;
//  }
     
//------------

@mixin grid(        $selector              : 'container',
                    $grid-template-rows    : 'repeat(16, 1fr)',
                    $grid-template-columns : 'repeat(16, 1fr)',
                    $background-color      : 'white',
                    $grid-gap              : '0px',
                    $height                : 'auto',
                    // $width              : '100%',
                    // $justify-items      : 'center',
                    $padding            : '0px 0px 0px 0px',
                    $margin             : '0px 0px 0px 0px',
                    $border-radius      : '0px 0px 0px 0px',
                    $border-style       : 'solid solid solid solid',
                    $border-width       : '0px 0px 0px 0px',
                    $border-color       : 'black black black black',
                    $box-shadow         : '0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black') {

    // #{map-get($selectorMap, $selector)} 
    #{$selector} {
        display                 : grid;
        grid-template-rows      : unquote($grid-template-rows);
        grid-template-columns   : unquote($grid-template-columns);
        background-color        : unquote($background-color);
        grid-gap                : unquote($grid-gap);
        height                  : unquote($height);
        // width                   : unquote($width);
        // justify-items           : unquote($justify-items);
        margin                  : unquote($margin); // top, right, bottom, left
        padding                 : unquote($padding);
        border-radius           : unquote($border-radius);
        border-style            : unquote($border-style);
        border-width            : unquote($border-width);
        border-color            : unquote($border-color);
        box-shadow              : unquote($box-shadow); // 0px 0px black, -10px -10px red, 15px 15px green;
      };
};

//-------------------------------------------------------------------------------------------------------

@mixin box( $selector           : 'container1',
            $flex-direction     : 'row',
            $flex-wrap          : 'wrap',
            $align-items        : 'center',
            // $align-content      : 'flex-start',
            $justify-content    : 'center',
            $background-color   : 'none',
            $font-family        : 'sans-serif',
            $font-size          : '10pt',
            $grid-area          : '',
            $padding            : '0px 0px 0px 0px',
            $margin             : '0px 0px 0px 0px',
            $border-radius      : '0px 0px 0px 0px',
            $border-style       : 'solid solid solid solid',
            $border-width       : '0px 0px 0px 0px',
            $border-color       : 'black black black black',
            $box-shadow         : '0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black',
            $background-color-hover : '',
            $color-hover            : white) {

    #{$selector} {
            display          : flex;
            flex-direction   : unquote($flex-direction);
            flex-wrap        : unquote($flex-wrap); 
            align-items      : unquote($align-items);
            justify-content  : unquote($justify-content);
            background-color : unquote($background-color);
            font-family      : unquote($font-family); // 'Roboto', sans-serif;
            font-size        : unquote($font-size); // 10pt 
            grid-area        : unquote($grid-area); // row-start, column-start, row-end, column-end
            margin           : unquote($margin); // top, right, bottom, left
            padding          : unquote($padding);
            border-radius    : unquote($border-radius);
            border-style     : unquote($border-style);
            border-width     : unquote($border-width);
            border-color     : unquote($border-color);
            box-shadow       : unquote($box-shadow); // 0px 0px black, -10px -10px red, 15px 15px green;

            
        };

    @if($background-color-hover != '') {
        #{$selector}:hover {
            cursor: pointer;
            background-color:  $background-color-hover;
            color: $color-hover;
         }

    }

};

//-----------------




//-----------------

@mixin divRoot_divFooter($selector) {

    $selector: $selector + ' > ' + '.divFooter';
    @include grid($selector: $selector, $grid-template-rows: '20% 25% 15% 40%', $grid-template-columns: '1fr', 
                 $background-color: rgb(231, 148, 162), $grid-gap: '0px');
                 
            @include box($selector: $selector + ' > .box-1');
            @include box($selector: $selector + ' > .box-2');
            @include box($selector: $selector + ' > .box-3');
            @include box($selector: $selector + ' > .box-4');

}

@mixin divRoot_divBody_divRow_1_divCol_1($selector) {
}


            
            
@mixin divRoot_divBody_divRow_1_divCol_2_divRow_1_divCol_2($selector) {
    
    $selector: $selector + ' > ' + '.divCol_2';
    @include grid( $selector: $selector, $grid-template-columns: '1fr', $grid-template-rows: '60% 40%',
    $background-color: rgb(173, 173, 173), $grid-gap: '10px', $padding: '10px 10px 10px 10px',
    $border-width: '5px 1px 1px 1px',
    $border-color: 'black lightgray lightgray lightgray',);
    


}


// @include divRoot_divBody_divRow_1_divCol_2_divRow_1_divCol_1_divRow_1($selector) {

// }


@mixin divRoot_divBody_divRow_1_divCol_2_divRow_1_divCol_1($selector) {
    
    $selector: $selector + ' > ' + '.divCol_1';
    @include grid( $selector: $selector, $grid-template-columns: '1fr', $grid-template-rows: '70% 30%',
    $background-color: rgb(173, 173, 173), $grid-gap: '10px', $padding: '10px 10px 10px 10px',
    $border-width: '5px 1px 1px 1px',
    $border-color: 'black lightgray lightgray lightgray');
    
}



@mixin divRoot_divBody_divRow_1_divCol_2_divRow_1($selector) {
    
    $selector: $selector + ' > ' + '.divRow_1';
    @include grid( $selector: $selector, $grid-template-columns: '6fr 3fr', $grid-template-rows: '1fr',
    $background-color: rgb(236, 94, 51), $grid-gap: '10px');
    
    @include divRoot_divBody_divRow_1_divCol_2_divRow_1_divCol_1($selector);    
    @include divRoot_divBody_divRow_1_divCol_2_divRow_1_divCol_2($selector);    
}


@mixin divRoot_divBody_divRow_1_divCol_2_divRow_2_divCol_2($selector){

    $selector: $selector + ' > ' + '.divRow_2';
    @include grid( $selector: $selector, $grid-template-columns: '1fr', $grid-template-rows: '1fr',
    $background-color: rgb(32, 122, 29), $grid-gap: '10px' );
    
}

@mixin divRoot_divBody_divRow_1_divCol_2_divRow_2_divCol_2($selector){

    $selector: $selector + ' > ' + '.divCol_2';
    @include grid( $selector: $selector, $grid-template-columns: '1fr', $grid-template-rows: '1fr',
    $background-color: rgb(136, 126, 126), $grid-gap: '10px', $padding: '10px 10px 10px 10px',
    $border-width: '5px 1px 1px 1px',
    $border-color: 'black lightgray lightgray lightgray' );
    
}

@mixin divRoot_divBody_divRow_1_divCol_2_divRow_2_divCol_1_divRow_2($selector) {

    $selector: $selector + ' > ' + '.divRow_2';
    @include grid( $selector: $selector, $grid-template-columns: '1fr 1fr', $grid-template-rows: '1fr',
    $background-color: rgb(173,173,173), $grid-gap: '10px', $padding: '10px 10px 10px 10px',
    $border-width: '5px 1px 1px 1px',
    $border-color: 'black lightgray lightgray lightgray' );


}

@mixin divRoot_divBody_divRow_1_divCol_2_divRow_2_divCol_1_divRow_1($selector) {

    $selector: $selector + ' > ' + '.divRow_1';
    @include grid( $selector: $selector, $grid-template-columns: '1fr 1fr', $grid-template-rows: '1fr',
    $background-color: rgb(173,173,173), $grid-gap: '10px', $padding: '10px 10px 10px 10px',
    $border-width: '5px 1px 1px 1px',
    $border-color: 'black lightgray lightgray lightgray' );

}

@mixin divRoot_divBody_divRow_1_divCol_2_divRow_2_divCol_1($selector){

    $selector: $selector + ' > ' + '.divCol_1';
    @include grid( $selector: $selector, $grid-template-columns: '1fr', $grid-template-rows: '1fr 1fr',
    $background-color: rgb(199, 140, 176), $grid-gap: '10px' );

    @include divRoot_divBody_divRow_1_divCol_2_divRow_2_divCol_1_divRow_1($selector);
    @include divRoot_divBody_divRow_1_divCol_2_divRow_2_divCol_1_divRow_2($selector);
    
}

@mixin divRoot_divBody_divRow_1_divCol_2_divRow_2($selector) {
    
    $selector: $selector + ' > ' + '.divRow_2';
    @include grid( $selector: $selector, $grid-template-columns: '1fr 1fr', $grid-template-rows: '1fr',
    $background-color: rgb(236, 94, 51), $grid-gap: '10px' );
    
    @include divRoot_divBody_divRow_1_divCol_2_divRow_2_divCol_1($selector);    
    @include divRoot_divBody_divRow_1_divCol_2_divRow_2_divCol_2($selector);    
}

@mixin divRoot_divBody_divRow_1_divCol_2_divRow_3_divCol_1($selector) {

    $selector: $selector + ' > ' + '.divCol_1';
    @include grid( $selector: $selector, $grid-template-columns: '1fr 1fr', $grid-template-rows: '1fr',
    $background-color: rgb(230, 227, 84), $grid-gap: '10px' );

}

@mixin divRoot_divBody_divRow_1_divCol_2_divRow_3($selector) {
    
    $selector: $selector + ' > ' + '.divRow_3';
    @include grid( $selector: $selector, $grid-template-columns: '1fr 1fr', $grid-template-rows: '1fr',
    $background-color: rgb(173,173,173), $grid-gap: '10px', $padding: '10px 10px 10px 10px',
    $border-width: '5px 1px 1px 1px',
    $border-color: 'black lightgray lightgray lightgray' ); 
}



//zzz
@mixin divRoot_divBody_divRow_1_divCol_2($selector) {

    $selector: $selector + ' > ' + '.divCol_2';
    @include grid( $selector: $selector, $grid-template-columns: '1fr', $grid-template-rows: '1fr',
                        $background-color: rgba(255, 116, 236, 0.781), $grid-gap: '10px', $height:'120vh',
                        
                        $border-width: '5px 5px 5px 5px',
                        $border-color: 'red red red red'
                        );
        @include divRoot_divBody_divRow_1_divCol_2_divRow_1($selector);
        @include divRoot_divBody_divRow_1_divCol_2_divRow_2($selector);
        @include divRoot_divBody_divRow_1_divCol_2_divRow_3($selector);

}

@mixin divRoot_divBody_divRow_1_divCol_3_divRow_2_divCol_1($selector) {

    $selector: $selector + ' > ' + '.divCol_1';
    @include grid( $selector: $selector, $grid-template-columns: '1fr', $grid-template-rows: '1fr',
    $background-color: rgb(173, 173, 173), $grid-gap: '10px', $margin: 'auto', $padding: '10px 0px 10px 0px' );  

}

@mixin divRoot_divBody_divRow_1_divCol_3_divRow_2_divCol_2_divRow_1($selector) {

    $selector: $selector + ' > ' + '.divRow_1';
    @include grid( $selector: $selector, $grid-template-columns: '1fr 1fr', $grid-template-rows: '1fr',
    $background-color: rgb(156, 157, 189), $grid-gap: '10px', $padding: '10px 10px 10px 10px',
    $border-width: '1px 0px 1px 0px',
    $border-color: 'lightgray lightgray lightgray lightgray'); 


}

@mixin divRoot_divBody_divRow_1_divCol_3_divRow_2_divCol_2($selector) {

    $selector: $selector + ' > ' + '.divCol_2';
    @include grid( $selector: $selector, $grid-template-columns: '1fr', $grid-template-rows: 'repeat(1, 1fr)',
    $background-color: rgb(74, 184, 89), $grid-gap: '10px', $padding: '10px 10px 10px 10px',
    $border-width: '1px 0px 1px 0px',
    $border-color: 'lightgray lightgray lightgray lightgray'); 

    @include divRoot_divBody_divRow_1_divCol_3_divRow_2_divCol_2_divRow_1($selector);
    
}

@mixin divRoot_divBody_divRow_1_divCol_3_divRow_2($selector) {
    
    $selector: $selector + ' > ' + '.divRow_2';
    @include grid( $selector: $selector, $grid-template-columns: '1fr', $grid-template-rows: 'auto auto auto',
    $background-color: rgb(173, 173, 173), $grid-gap: '10px', $padding: '10px 0px 10px 0px',
    $border-width: '5px 1px 1px 1px',
    $border-color: 'black lightgray lightgray lightgray'); 

    @include divRoot_divBody_divRow_1_divCol_3_divRow_2_divCol_1($selector);
    @include divRoot_divBody_divRow_1_divCol_3_divRow_2_divCol_2($selector);
    // @include divRoot_divBody_divRow_1_divCol_3_divRow_2_divCol_3($selector);

}

@mixin divRoot_divBody_divRow_1_divCol_3_divRow_1($selector) {
    
    $selector: $selector + ' > ' + '.divRow_1';
    @include grid( $selector: $selector, $grid-template-columns: '1fr', $grid-template-rows: '1fr',
    $background-color: rgb(173,173,173), $grid-gap: '10px' ); 
}

@mixin divRoot_divBody_divRow_1_divCol_3($selector) {

    $selector: $selector + ' > ' + '.divCol_3';
    @include grid( $selector: $selector, $grid-template-columns: '1fr', $grid-template-rows: 'auto auto',
                        $background-color: rgba(255, 116, 236, 0.781), $grid-gap: '10px', $height:'100vh',

                        $border-width: '5px 5px 5px 5px',
                        $border-color: 'red red red red'
                        );

            @include divRoot_divBody_divRow_1_divCol_3_divRow_1($selector);
            @include divRoot_divBody_divRow_1_divCol_3_divRow_2($selector);
}

@mixin divRoot_divBody_divRow_1_divCol_4($selector) {

}


@mixin divRoot_divBody_divRow_1($selector) {

    $selector: $selector + ' > ' + '.divRow_1';
    @include grid( $selector: $selector,  $grid-template-columns: '2fr 5fr 2fr 2fr', $grid-template-rows: 'auto',
                     $background-color: lightgray, $grid-gap: '10px');

            @include divRoot_divBody_divRow_1_divCol_1($selector);
            @include divRoot_divBody_divRow_1_divCol_2($selector);
            @include divRoot_divBody_divRow_1_divCol_3($selector);
            @include divRoot_divBody_divRow_1_divCol_4($selector);
}

//-----------------

@mixin divRoot_divBody($selector) {
    $selector: $selector + ' > ' + '.divBody';
    @include grid( $selector: $selector, $grid-template-rows: '1fr', $grid-template-columns: '1fr',
                    $background-color: rgb(110, 110, 172), $height:'300vh');

    @include divRoot_divBody_divRow_1($selector);
}

//-----------------

@mixin divRoot_divHeader_divMenu2($selector) {

    $selector: $selector + ' > ' + '.divMenu2';
    @include grid( $selector: $selector, $grid-template-rows: '30px', $grid-template-columns: 'repeat(7, 1fr)',
                    $background-color: none);

    $color_hover: (#009F5E,#41274B,#1F849F,#778A74,#FFC036,#621200,#E44C50);

    @for $i from 1 to length($color_hover) + 1 {
        @include box(   $selector: $selector + '> .box-' + $i,
                        $border-width : '1px 1px 3px 0px',
                        $border-color : 'lightgray lightgray lightgray lightgray', $align-items: 'center',
                        $background-color-hover: nth($color_hover, $i)
                        );
    }
}

@mixin divRoot_divHeader_divMenu1($selector) {

    $selector: $selector + ' > ' + '.divMenu1';
    @include grid($selector: $selector, $grid-template-rows: '60px', $grid-template-columns: '5% 80% 15%', 
                $background-color: rgb(224, 152, 152), $grid-gap: '10px');

        @include box($selector: $selector + ' > .box-1');
        @include box($selector: $selector + ' > .box-2');
        @include box($selector: $selector + ' > .box-3', $justify-content: 'left',
                    $padding: '0px 0px 0px 30px', $font-size: 8pt);

}

@mixin divRoot_divHeader($selector) {

        $selector: $selector + ' > ' + '.divHeader';
        @include grid( $selector: $selector,  $grid-template-columns: '1fr', $grid-template-rows: '1fr 1fr',  
                        $height:'90px', $background-color:white, $grid-gap: '0px');

        @include divRoot_divHeader_divMenu1($selector);
        @include divRoot_divHeader_divMenu2($selector);
}

//-----------------

@mixin divRoot {

        $selector: '.divRoot';
        @include grid( $selector: $selector,  $grid-template-columns: '1fr', $grid-template-rows: 'auto auto 30%',
          $background-color: gray, $grid-gap: '10px');

        @include divRoot_divHeader($selector);
        @include divRoot_divBody($selector);
        @include divRoot_divFooter($selector);
}

//-----------------

@include divRoot;
    
//-----------------

// .divRoot > .divHeader > .divMenu2 > .box-1:hover { background-color: #009F5E; cursor: pointer;}
// .divRoot > .divHeader > .divMenu2 > .box-2:hover { background-color: #41274B; cursor: pointer;}
// .divRoot > .divHeader > .divMenu2 > .box-3:hover { background-color: #1F849F; cursor: pointer;}
// .divRoot > .divHeader > .divMenu2 > .box-4:hover { background-color: #778A74; cursor: pointer;}
// .divRoot > .divHeader > .divMenu2 > .box-5:hover { background-color: #FFC036; cursor: pointer;}
// .divRoot > .divHeader > .divMenu2 > .box-6:hover { background-color: #621200; cursor: pointer;}
// .divRoot > .divHeader > .divMenu2 > .box-7:hover { background-color: #E44C50; cursor: pointer;}

ul#horizontal-list {
    list-style: none;
    font-size: 7pt;
    margin-top: 0pt;
    margin-bottom: 0pt; 
    letter-spacing: 1pt;
    }
    
ul#horizontal-list li {
    display: inline;
}

ul#horizontal-list li::before {
    content: "| ";
  }

ul#horizontal-list li:nth-child(1)::before {
    content: "";
  }

ul#horizontal-list li:hover {
     font-weight: bold;
     cursor: pointer;
  }
 


.img50 {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.img100 {
    width: 100%;
    height: 100%;
}


.logo {
    width: 100px;
    // height: 70px;
}

.logoFooter {
    width: 125px;
    // height: 70px;
}

.small {
    font-family: 'Roboto', sans-serif;
    color: rgb(100, 100, 100);
    font-size: 7pt;
    margin-top: 3pt;
    margin-bottom: 3pt; 
    letter-spacing: 1pt;
}


.smallRights {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 8pt;
    margin-top: 6pt;
    margin-bottom: 6pt; 
    letter-spacing: 1pt;
    line-height: 12pt;
    text-align: center;
}


.smallgold {
    font-family: 'Roboto', sans-serif;
    color: rgb(243, 164, 38);
    font-size: 7pt;
    margin-top: 3pt;
    margin-bottom: 3pt; 
    letter-spacing: 1pt;
}

.smallblue {
    font-family: 'Roboto', sans-serif;
    color: rgb(21, 131, 165);
    font-size: 7pt;
    margin-top: 3pt;
    margin-bottom: 3pt; 
    letter-spacing: 1pt;
}

.text {
    font-family:  sans-serif;
    color: black;
    font-size: 9pt;
    margin-top: 3pt;
    margin-bottom: 3pt; 
    line-height: 12pt;

}



.title1 {
    font-family: 'Fjalla One', sans-serif;
    color: black;
    font-size: 20pt;
    line-height: 18pt;
}

.title2 {

    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 26pt;
    margin-top: 2pt;
    margin-bottom: 12pt; 
    line-height: 30pt;

}

.title3 {

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(177, 173, 173);
    font-size: 24pt;
}

.title4 {
    font-family: 'Fjalla One', sans-serif;
    color: black;
    font-size: 14pt;
    line-height: 18pt;
}

.title5 {
    font-family: 'Fjalla One', sans-serif;
    color: black;
    font-size: 14pt;
    line-height: 18pt;
}

.title6 {
    font-family: 'Fjalla One', sans-serif;
    color: black;
    font-size: 24pt;
    line-height: 30pt;

}

.icon {
    background-image: '';
}



   