//------------

@mixin grid(
  $selector: "container",
  $grid-template-rows: "repeat(16, 1fr)",
  $grid-template-columns: "repeat(16, 1fr)",
  $grid-area-row: "",
  $grid-area-col: "",
  $grid-area-span-rows: "",
  $grid-area-span-cols: "",
  $background-color: "white",
  $grid-gap: "0px",
  $height: "auto",
  $justify-items: "",
  $align-items: "",
  $padding: "0px 0px 0px 0px",
  $margin: "0px 0px 0px 0px",
  $border-radius: "0px 0px 0px 0px",
  $border-style: "solid solid solid solid",
  $border-width: "0px 0px 0px 0px",
  $border-color: "black black black black",
  $box-shadow: "0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black"
) {
  // #{map-get($selectorMap, $selector)}
  #{$selector} {
    display: grid;
    grid-template-rows: unquote($grid-template-rows);
    grid-template-columns: unquote($grid-template-columns);

    @if $grid-area-row != "" {
      grid-row: unquote($grid-area-row + " / span " + $grid-area-span-rows);
      grid-column: unquote($grid-area-col + " / span " + $grid-area-span-cols);
    }

    background-color: unquote($background-color);
    grid-gap: unquote($grid-gap);
    height: unquote($height);
    justify-items: unquote($justify-items);
    align-items: unquote($align-items);
    margin: unquote($margin); // top, right, bottom, left
    padding: unquote($padding);
    border-radius: unquote($border-radius);
    border-style: unquote($border-style);
    border-width: unquote($border-width);
    border-color: unquote($border-color);
    box-shadow: unquote(
      $box-shadow
    ); // 0px 0px black, -10px -10px red, 15px 15px green;
  }
}
// -------------------------------------------------------------------------------------------------------
@mixin box(
  $selector: "container1",
  $flex-direction: "row",
  $flex-wrap: "wrap",
  $align-items: "center",
  // $align-content      : 'flex-start',

    $justify-content: "center",
  $background-color: "none",
  $font-family: "sans-serif",
  $font-size: "10pt",
  $grid-area: "",
  $padding: "0px 0px 0px 0px",
  $margin: "0px 0px 0px 0px",
  $border-radius: "0px 0px 0px 0px",
  $border-style: "solid solid solid solid",
  $border-width: "0px 0px 0px 0px",
  $border-color: "black black black black",
  $box-shadow: "0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black",
  $background-color-hover: "",
  $color-hover: white
) {
  #{$selector} {
    display: flex;
    flex-direction: unquote($flex-direction);
    flex-wrap: unquote($flex-wrap);
    align-items: unquote($align-items);
    justify-content: unquote($justify-content);
    background-color: unquote($background-color);
    font-family: unquote($font-family); // 'Roboto', sans-serif;
    font-size: unquote($font-size); // 10pt
    grid-area: unquote(
      $grid-area
    ); // row-start, column-start, row-end, column-end
    margin: unquote($margin); // top, right, bottom, left
    padding: unquote($padding);
    border-radius: unquote($border-radius);
    border-style: unquote($border-style);
    border-width: unquote($border-width);
    border-color: unquote($border-color);
    box-shadow: unquote(
      $box-shadow
    ); // 0px 0px black, -10px -10px red, 15px 15px green;
  }
  @if ($background-color-hover != "") {
    #{$selector}:hover {
      cursor: pointer;
      background-color: $background-color-hover;
      color: $color-hover;
    }
  }
}
// -----------------
@mixin divRoot_divFooter($selector) {
  $selector: $selector + " > " + ".divFooter";
  @include grid(
    $selector: $selector,
    $grid-template-rows: "20% 25% 15% 40%",
    $grid-template-columns: "1fr",
    $background-color: rgb(231, 148, 162),
    $grid-gap: "0px"
  );
  @include box($selector: $selector + " > .box-1");
  @include box($selector: $selector + " > .box-2");
  @include box($selector: $selector + " > .box-3");
  @include box($selector: $selector + " > .box-4");
}
// -----------------
@mixin divRoot_divBody_divCol_2($selector) {
  $unit: 1vw;
  $width_unit: $unit;
  $height_unit: $unit; // -------------------------------------------------------------------
  $selector: $selector + " > " + ".divCol_2";
  @include grid(
    $selector: $selector,
    $grid-template-columns: "repeat(auto-fill, " + $width_unit + ")",
    $grid-template-rows: "repeat(auto-fill, " + $height_unit + ")",
    $background-color: lightgray,
    $grid-gap: "0px"
  );
  // -------------------------------------------------------------------
  $border-top: 3px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "black lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $color: rgb(245, 241, 241);
  // -------------------------------------------------------------------
  $row: 2;
  $col: 4;
  $spanRows: 24;
  $spanCols: 30;
  @include grid(
    $selector: $selector + " > .div_C1",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "28vw",
    $grid-template-rows: "15vw 1vw 6vw",
    $background-color: $color,
    $padding: $padding,
    $grid-gap: 0,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $row: $row;
  $col: $col + 1 + $spanCols;
  $spanRows: 24;
  $spanCols: 16;
  @include grid(
    $selector: $selector + " > .div_C2",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "14vw",
    $grid-template-rows: "13vw 1vw 8vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $row: $row;
  $col: $col + 17;
  $spanRows: 44;
  $spanCols: 18;
  @include grid(
    $selector: $selector + " > .div_C7",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "20vw",
    $grid-template-rows: "44vw",
    $background-color: $color
  );
  // -------------------------------------------------------------------
  $row: $row + 25;
  $col: $col - 48;
  $spanRows: 12;
  $spanCols: 22;
  @include grid(
    $selector: $selector + " > .div_C3",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "10vw 1vw 9vw",
    $grid-template-rows: "10vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $row: $row + 13;
  $col: $col;
  $spanRows: 12;
  $spanCols: 22;
  @include grid(
    $selector: $selector + " > .div_C5",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "10vw 1vw 9vw",
    $grid-template-rows: "10vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $row: $row + 1 + $spanRows;
  $col: $col;
  $spanRows: 20;
  $spanCols: 47;
  @include grid(
    $selector: $selector + " > .div_C6",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "29vw 1vw 16vw",
    $grid-template-rows: "18vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $row: $row - 26;
  $col: $col + 23;
  $spanRows: 25;
  $spanCols: 24;
  @include grid(
    $selector: $selector + " > .div_C4",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "22vw",
    $grid-template-rows: "23vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 10px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "black lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + 20;
  $col: $col + 25;
  $spanRows: 5;
  $spanCols: 20;
  @include grid(
    $selector: $selector + " > .div_C8_Start",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "18vw",
    $grid-template-rows: "3vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  // $divs: ('01' '02');
  $divs: ("01" "02" "03" "04" "05" "06" "07");
  @for $i from 1 to length($divs) + 1 {
    $row: $row + $spanRows;
    $col: $col;
    $spanRows: 8;
    $spanCols: 20;
    @include grid(
      $selector: $selector + " > .div_C8_" + nth($divs, $i),
      $grid-area-row: $row,
      $grid-area-col: $col,
      $grid-area-span-rows: $spanRows,
      $grid-area-span-cols: $spanCols,
      $grid-template-columns: "6vw 1vw 11vw",
      $grid-template-rows: "6vw 1vw",
      $background-color: $color,
      $padding: $padding,
      $border-width: $border-width,
      $border-color: $border-color
    );
  }
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 4;
  $spanCols: 20;
  @include grid(
    $selector: $selector + " > .div_C8_End",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "2vw 16vw",
    $grid-template-rows: "2vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  // -------------------------------------------------------------------
  $border-top: 10px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "black lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + 5;
  $col: 5;
  $spanRows: 6;
  $spanCols: 67;
  @include grid(
    $selector: $selector + " > .div_C9",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "20vw 36vw 3vw 6vw",
    $grid-template-rows: "4vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: "0 0 0 0";
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 1;
  $spanCols: 67;
  @include grid(
    $selector: $selector + " > .div_C9_05",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "67vw",
    $grid-template-rows: "1vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 42;
  $spanCols: 49;
  @include grid(
    $selector: $selector + " > .div_C9_01",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "47vw",
    $grid-template-rows: "29vw 1vw 10vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 0px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $divsVideo: ("02" "03" "04");
  $spanRows: 0;
  $col: $col + $spanCols;
  @for $i from 1 to length($divsVideo) + 1 {
    $row: $row + $spanRows;
    $col: $col;
    $spanRows: 14;
    $spanCols: 18;
    @include grid(
      $selector: $selector + " > .div_C9_" + nth($divsVideo, $i),
      $grid-area-row: $row,
      $grid-area-col: $col,
      $grid-area-span-rows: $spanRows,
      $grid-area-span-cols: $spanCols,
      $grid-template-columns: "16vw",
      $grid-template-rows: "8vw 4vw",
      $background-color: $color,
      $padding: $padding,
      $border-width: $border-width,
      $border-color: $border-color
    );
  }
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: "0 0 0 0";
  $row: $row + $spanRows;
  $col: 5;
  $spanRows: 1;
  $spanCols: 67;
  @include grid(
    $selector: $selector + " > .div_C9_06",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "67vw",
    $grid-template-rows: "1vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  // -------------------------------------------------------------------
  $border-top: 10px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "black lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + 2;
  $col: 5;
  $spanRows: 5;
  $spanCols: 20;
  @include grid(
    $selector: $selector + " > .div_C10_Start",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "18vw",
    $grid-template-rows: "3vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $divsRecent: ("01" "02" "03" "04" "05");
  @for $i from 1 to length($divsRecent) + 1 {
    $row: $row + $spanRows;
    $col: $col;
    $spanRows: 8;
    $spanCols: 20;
    @include grid(
      $selector: $selector + " > .div_C10_" + nth($divsRecent, $i),
      $grid-area-row: $row,
      $grid-area-col: $col,
      $grid-area-span-rows: $spanRows,
      $grid-area-span-cols: $spanCols,
      $grid-template-columns: "6vw 1vw 11vw",
      $grid-template-rows: "6vw 1vw",
      $background-color: $color,
      $padding: $padding,
      $border-width: $border-width,
      $border-color: $border-color
    );
  }
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 4;
  $spanCols: 20;
  @include grid(
    $selector: $selector + " > .div_C10_End",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "2vw 16vw",
    $grid-template-rows: "2vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 3px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "black lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row - 45;
  $col: $col + 1 + $spanCols;
  $spanRows: 25;
  $spanCols: 15;
  @include grid(
    $selector: $selector + " > .div_C11",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "13vw",
    $grid-template-rows: "14vw 1vw 8vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 3px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "black lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row;
  $col: $col + 1 + $spanCols;
  $spanRows: 25;
  $spanCols: 30;
  @include grid(
    $selector: $selector + " > .div_C12",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "28vw",
    $grid-template-rows: "17vw 1vw 5vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $row: $row + 1 + $spanRows;
  $col: $col - $spanCols + 14;
  $spanRows: 23;
  $spanCols: 20;
  @include grid(
    $selector: $selector + " > .div_C13",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "18vw",
    $grid-template-rows: "15vw 1vw 5vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $row: $row;
  $col: $col + 1 + $spanCols;
  $spanRows: 11;
  $spanCols: 25;
  @include grid(
    $selector: $selector + " > .div_C14",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "8vw 1vw 14vw",
    $grid-template-rows: "9vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $row: $row + 1 + $spanRows;
  $col: $col;
  $spanRows: 11;
  $spanCols: 25;
  @include grid(
    $selector: $selector + " > .div_C15",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "14vw 1vw 8vw",
    $grid-template-rows: "9vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $row: $row + 1 + $spanRows;
  $col: 5;
  $spanRows: 19;
  $spanCols: 41;
  @include grid(
    $selector: $selector + " > .div_C16",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "14vw 1vw 24vw",
    $grid-template-rows: "17vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 0px;
  $border-bottom: 0px;
  $border-left: 0px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "black lightgray lightgray lightgray";
  $padding: "0 0 0 0";
  $row: $row;
  $col: $spanCols + 6;
  $spanRows: 19;
  $spanCols: 25;
  @include grid(
    $selector: $selector + " > .div_C17",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "25vw",
    $grid-template-rows: "19vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 3px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "black lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows + 1;
  $col: 5;
  $spanRows: 25;
  $spanCols: 67;
  @include grid(
    $selector: $selector + " > .div_C18",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "42vw 1vw 21vw",
    $grid-template-rows: "23vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // Part 4
  // -------------------------------------------------------------------
  // -------------------------------------------------------------------
  $border-top: 10px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "black lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows + 1;
  $col: 5;
  $spanRows: 5;
  $spanCols: 22;
  @include grid(
    $selector: $selector + " > .div_C19_Start",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "4vw 16vw",
    $grid-template-rows: "3vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 0px;
  $border-bottom: 0px;
  $border-left: 0px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $color: rgb(245, 241, 241);
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 19;
  $spanCols: 22;
  @include grid(
    $selector: $selector + " > .div_C19_01",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "20vw",
    $grid-template-rows: "10vw 1vw 6vw",
    $background-color: $color,
    $padding: $padding,
    $grid-gap: 0,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $divsBusiness: ("02" "03");
  @for $i from 1 to length($divsBusiness) + 1 {
    $row: $row + $spanRows;
    $col: $col;
    $spanRows: 8;
    $spanCols: 22;
    @include grid(
      $selector: $selector + " > .div_C19_" + nth($divsBusiness, $i),
      $grid-area-row: $row,
      $grid-area-col: $col,
      $grid-area-span-rows: $spanRows,
      $grid-area-span-cols: $spanCols,
      $grid-template-columns: "6vw 1vw 13vw",
      $grid-template-rows: "6vw 1vw",
      $background-color: $color,
      $padding: $padding,
      $border-width: $border-width,
      $border-color: $border-color
    );
  }
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 4;
  $spanCols: 22;
  @include grid(
    $selector: $selector + " > .div_C19_End",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "2vw 18vw",
    $grid-template-rows: "2vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  // -------------------------------------------------------------------
  $border-top: 10px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "black lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row - 40;
  $col: $spanCols + 6;
  $spanRows: 5;
  $spanCols: 23;
  @include grid(
    $selector: $selector + " > .div_C20_Start",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "4vw 17vw",
    $grid-template-rows: "3vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 19;
  $spanCols: 23;
  @include grid(
    $selector: $selector + " > .div_C20_01",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "21vw",
    $grid-template-rows: "10vw 1vw 6vw",
    $background-color: $color,
    $padding: $padding,
    $grid-gap: 0,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $divsBusiness: ("02" "03");
  @for $i from 1 to length($divsBusiness) + 1 {
    $row: $row + $spanRows;
    $col: $col;
    $spanRows: 8;
    $spanCols: 23;
    @include grid(
      $selector: $selector + " > .div_C20_" + nth($divsBusiness, $i),
      $grid-area-row: $row,
      $grid-area-col: $col,
      $grid-area-span-rows: $spanRows,
      $grid-area-span-cols: $spanCols,
      $grid-template-columns: "6vw 1vw 14vw",
      $grid-template-rows: "6vw 1vw",
      $background-color: $color,
      $padding: $padding,
      $border-width: $border-width,
      $border-color: $border-color
    );
  }
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 4;
  $spanCols: 23;
  @include grid(
    $selector: $selector + " > .div_C20_End",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "2vw 17vw",
    $grid-template-rows: "2vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 0px;
  $border-bottom: 0px;
  $border-left: 0px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "black lightgray lightgray lightgray";
  $padding: "0 0 0 0";
  $row: $row - 40;
  $col: $col + $spanCols + 1;
  $spanRows: 16;
  $spanCols: 20;
  @include grid(
    $selector: $selector + " > .div_C21",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "20vw",
    $grid-template-rows: "16vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  // -------------------------------------------------------------------
  $border-top: 10px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "black lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + 17;
  $col: $col;
  $spanRows: 5;
  $spanCols: 20;
  @include grid(
    $selector: $selector + " > .div_C22_Start",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "4vw 14vw",
    $grid-template-rows: "3vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 19;
  $spanCols: 20;
  @include grid(
    $selector: $selector + " > .div_C22_01",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "18vw",
    $grid-template-rows: "10vw 1vw 6vw",
    $background-color: $color,
    $padding: $padding,
    $grid-gap: 0,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $divsBusiness: ("02" "03");
  @for $i from 1 to length($divsBusiness) + 1 {
    $row: $row + $spanRows;
    $col: $col;
    $spanRows: 8;
    $spanCols: 20;
    @include grid(
      $selector: $selector + " > .div_C22_" + nth($divsBusiness, $i),
      $grid-area-row: $row,
      $grid-area-col: $col,
      $grid-area-span-rows: $spanRows,
      $grid-area-span-cols: $spanCols,
      $grid-template-columns: "6vw 1vw 11vw",
      $grid-template-rows: "6vw 1vw",
      $background-color: $color,
      $padding: $padding,
      $border-width: $border-width,
      $border-color: $border-color
    );
  }
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 4;
  $spanCols: 20;
  @include grid(
    $selector: $selector + " > .div_C22_End",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "2vw 16vw",
    $grid-template-rows: "2vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  // -------------------------------------------------------------------
  $border-top: 10px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "black lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row - 12;
  $col: $col - 47;
  $spanRows: 5;
  $spanCols: 22;
  @include grid(
    $selector: $selector + " > .div_C23_Start",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "4vw 16vw",
    $grid-template-rows: "3vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 21;
  $spanCols: 22;
  @include grid(
    $selector: $selector + " > .div_C23_01",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "20vw",
    $grid-template-rows: "12vw 1vw 6vw",
    $background-color: $color,
    $padding: $padding,
    $grid-gap: 0,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $divsBusiness: ("02" "03");
  @for $i from 1 to length($divsBusiness) + 1 {
    $row: $row + $spanRows;
    $col: $col;
    $spanRows: 8;
    $spanCols: 22;
    @include grid(
      $selector: $selector + " > .div_C23_" + nth($divsBusiness, $i),
      $grid-area-row: $row,
      $grid-area-col: $col,
      $grid-area-span-rows: $spanRows,
      $grid-area-span-cols: $spanCols,
      $grid-template-columns: "6vw 1vw 13vw",
      $grid-template-rows: "5vw 1vw",
      $background-color: $color,
      $padding: $padding,
      $border-width: $border-width,
      $border-color: $border-color
    );
  }
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 4;
  $spanCols: 22;
  @include grid(
    $selector: $selector + " > .div_C23_End",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "2vw 16vw",
    $grid-template-rows: "2vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 0px;
  $border-bottom: 0px;
  $border-left: 0px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "black lightgray lightgray lightgray";
  $padding: "0 0 0 0";
  $row: $row - 42;
  $col: $col + $spanCols + 1;
  $spanRows: 20;
  $spanCols: 23;
  @include grid(
    $selector: $selector + " > .div_C24",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "23vw",
    $grid-template-rows: "20vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  // -------------------------------------------------------------------
  $border-top: 10px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "black lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + 21;
  $col: $col;
  $spanRows: 5;
  $spanCols: 23;
  @include grid(
    $selector: $selector + " > .div_C25_Start",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "4vw 17vw",
    $grid-template-rows: "3vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 21;
  $spanCols: 23;
  @include grid(
    $selector: $selector + " > .div_C25_01",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "21vw",
    $grid-template-rows: "12vw 1vw 6vw",
    $background-color: $color,
    $padding: $padding,
    $grid-gap: 0,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $divsBusiness: ("02" "03");
  @for $i from 1 to length($divsBusiness) + 1 {
    $row: $row + $spanRows;
    $col: $col;
    $spanRows: 8;
    $spanCols: 23;
    @include grid(
      $selector: $selector + " > .div_C25_" + nth($divsBusiness, $i),
      $grid-area-row: $row,
      $grid-area-col: $col,
      $grid-area-span-rows: $spanRows,
      $grid-area-span-cols: $spanCols,
      $grid-template-columns: "6vw 1vw 14vw",
      $grid-template-rows: "6vw 1vw",
      $background-color: $color,
      $padding: $padding,
      $border-width: $border-width,
      $border-color: $border-color
    );
  }
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 4;
  $spanCols: 23;
  @include grid(
    $selector: $selector + " > .div_C25_End",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "2vw 19vw",
    $grid-template-rows: "2vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  // -------------------------------------------------------------------
  $border-top: 10px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "black lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row - 46;
  $col: $col + $spanCols + 1;
  $spanRows: 5;
  $spanCols: 20;
  @include grid(
    $selector: $selector + " > .div_C26_Start",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "4vw 14vw",
    $grid-template-rows: "3vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 21;
  $spanCols: 20;
  @include grid(
    $selector: $selector + " > .div_C26_01",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "18vw",
    $grid-template-rows: "12vw 1vw 6vw",
    $background-color: $color,
    $padding: $padding,
    $grid-gap: 0,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $divsBusiness: ("02" "03");
  @for $i from 1 to length($divsBusiness) + 1 {
    $row: $row + $spanRows;
    $col: $col;
    $spanRows: 8;
    $spanCols: 20;
    @include grid(
      $selector: $selector + " > .div_C26_" + nth($divsBusiness, $i),
      $grid-area-row: $row,
      $grid-area-col: $col,
      $grid-area-span-rows: $spanRows,
      $grid-area-span-cols: $spanCols,
      $grid-template-columns: "6vw 1vw 11vw",
      $grid-template-rows: "6vw 1vw",
      $background-color: $color,
      $padding: $padding,
      $border-width: $border-width,
      $border-color: $border-color
    );
  }
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 4;
  $spanCols: 20;
  @include grid(
    $selector: $selector + " > .div_C26_End",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "2vw 16vw",
    $grid-template-rows: "2vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  // -------------------------------------------------------------------
  $border-top: 10px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "black lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row - 12;
  $col: $col - 47;
  $spanRows: 5;
  $spanCols: 22;
  @include grid(
    $selector: $selector + " > .div_C27_Start",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "4vw 16vw",
    $grid-template-rows: "3vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 21;
  $spanCols: 22;
  @include grid(
    $selector: $selector + " > .div_C27_01",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "20vw",
    $grid-template-rows: "12vw 1vw 6vw",
    $background-color: $color,
    $padding: $padding,
    $grid-gap: 0,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $divsBusiness: ("02" "03");
  @for $i from 1 to length($divsBusiness) + 1 {
    $row: $row + $spanRows;
    $col: $col;
    $spanRows: 8;
    $spanCols: 22;
    @include grid(
      $selector: $selector + " > .div_C27_" + nth($divsBusiness, $i),
      $grid-area-row: $row,
      $grid-area-col: $col,
      $grid-area-span-rows: $spanRows,
      $grid-area-span-cols: $spanCols,
      $grid-template-columns: "6vw 1vw 13vw",
      $grid-template-rows: "5vw 1vw",
      $background-color: $color,
      $padding: $padding,
      $border-width: $border-width,
      $border-color: $border-color
    );
  }
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 4;
  $spanCols: 22;
  @include grid(
    $selector: $selector + " > .div_C27_End",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "2vw 16vw",
    $grid-template-rows: "2vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  // -------------------------------------------------------------------
  $border-top: 10px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "black lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row - 21;
  $col: $col + $spanCols + 1;
  $spanRows: 5;
  $spanCols: 23;
  @include grid(
    $selector: $selector + " > .div_C28_Start",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "4vw 17vw",
    $grid-template-rows: "3vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 21;
  $spanCols: 23;
  @include grid(
    $selector: $selector + " > .div_C28_01",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "21vw",
    $grid-template-rows: "12vw 1vw 6vw",
    $background-color: $color,
    $padding: $padding,
    $grid-gap: 0,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $divsBusiness: ("02" "03");
  @for $i from 1 to length($divsBusiness) + 1 {
    $row: $row + $spanRows;
    $col: $col;
    $spanRows: 8;
    $spanCols: 23;
    @include grid(
      $selector: $selector + " > .div_C28_" + nth($divsBusiness, $i),
      $grid-area-row: $row,
      $grid-area-col: $col,
      $grid-area-span-rows: $spanRows,
      $grid-area-span-cols: $spanCols,
      $grid-template-columns: "6vw 1vw 14vw",
      $grid-template-rows: "6vw 1vw",
      $background-color: $color,
      $padding: $padding,
      $border-width: $border-width,
      $border-color: $border-color
    );
  }
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 4;
  $spanCols: 23;
  @include grid(
    $selector: $selector + " > .div_C28_End",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "2vw 19vw",
    $grid-template-rows: "2vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  // -------------------------------------------------------------------
  $border-top: 10px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "black lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row - 46;
  $col: $col + $spanCols + 1;
  $spanRows: 5;
  $spanCols: 20;
  @include grid(
    $selector: $selector + " > .div_C29_Start",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "4vw 14vw",
    $grid-template-rows: "3vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 21;
  $spanCols: 20;
  @include grid(
    $selector: $selector + " > .div_C29_01",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "18vw",
    $grid-template-rows: "12vw 1vw 6vw",
    $background-color: $color,
    $padding: $padding,
    $grid-gap: 0,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $divsBusiness: ("02" "03");
  @for $i from 1 to length($divsBusiness) + 1 {
    $row: $row + $spanRows;
    $col: $col;
    $spanRows: 8;
    $spanCols: 20;
    @include grid(
      $selector: $selector + " > .div_C29_" + nth($divsBusiness, $i),
      $grid-area-row: $row,
      $grid-area-col: $col,
      $grid-area-span-rows: $spanRows,
      $grid-area-span-cols: $spanCols,
      $grid-template-columns: "6vw 1vw 11vw",
      $grid-template-rows: "6vw 1vw",
      $background-color: $color,
      $padding: $padding,
      $border-width: $border-width,
      $border-color: $border-color
    );
  }
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 4;
  $spanCols: 20;
  @include grid(
    $selector: $selector + " > .div_C29_End",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "2vw 16vw",
    $grid-template-rows: "2vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  // -------------------------------------------------------------------
  $border-top: 10px;
  $border-right: 0px;
  $border-bottom: 0px;
  $border-left: 0px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "black lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " + calc(0 - #{$border-right}) +
    " " + calc(0 - #{$border-bottom}) + " " + calc(0 - #{$border-left});
  $row: $row + 10;
  $col: 5;
  $spanRows: 22;
  $spanCols: 22;
  @include grid(
    $selector: $selector + " > .div_C30",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "22vw",
    $grid-template-rows: "21vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  // -------------------------------------------------------------------
  $border-top: 10px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "black lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row;
  $col: $col + $spanCols;
  $spanRows: 8;
  $spanCols: 23;
  @include grid(
    $selector: $selector + " > .div_C31_Start",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "21vw",
    $grid-template-rows: "5vw 1vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "black lightgray lightgray lightgray";
  $padding: "0" + " " + calc(#{$unit} - #{$border-right}) + " " +
    calc(#{$unit} - #{$border-bottom}) + " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 10;
  $spanCols: 23;
  @include grid(
    $selector: $selector + " > .div_C31_01",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "21vw",
    $grid-template-rows: "7vw 1vw 1vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 4;
  $spanCols: 23;
  @include grid(
    $selector: $selector + " > .div_C31_End",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "2vw 19vw",
    $grid-template-rows: "2vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  // -------------------------------------------------------------------
  $border-top: 10px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "black lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row - 18;
  $col: $col + $spanCols;
  $spanRows: 8;
  $spanCols: 22;
  @include grid(
    $selector: $selector + " > .div_C32_Start",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "20vw",
    $grid-template-rows: "5vw 1vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 0px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "black lightgray lightgray lightgray";
  $padding: "0" + " " + calc(#{$unit} - #{$border-right}) + " " +
    calc(#{$unit} - #{$border-bottom}) + " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 10;
  $spanCols: 22;
  @include grid(
    $selector: $selector + " > .div_C32_01",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "7vw 1vw 12vw",
    $grid-template-rows: "8vw 1vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
  // -------------------------------------------------------------------
  $border-top: 0px;
  $border-right: 1px;
  $border-bottom: 1px;
  $border-left: 1px;
  $border-width: $border-top + " " + $border-right + " " + $border-bottom + " " +
    $border-left;
  $border-color: "lightgray lightgray lightgray lightgray";
  $padding: calc(#{$unit} - #{$border-top}) + " " +
    calc(#{$unit} - #{$border-right}) + " " + calc(#{$unit} - #{$border-bottom}) +
    " " + calc(#{$unit} - #{$border-left});
  $row: $row + $spanRows;
  $col: $col;
  $spanRows: 4;
  $spanCols: 22;
  @include grid(
    $selector: $selector + " > .div_C32_End",
    $grid-area-row: $row,
    $grid-area-col: $col,
    $grid-area-span-rows: $spanRows,
    $grid-area-span-cols: $spanCols,
    $grid-template-columns: "2vw 18vw",
    $grid-template-rows: "2vw",
    $background-color: $color,
    $padding: $padding,
    $border-width: $border-width,
    $border-color: $border-color
  );
}
// -----------------
@mixin divRoot_divBody($selector) {
  $selector: $selector + " > " + ".divBody";
  @include grid(
    $selector: $selector,
    $grid-template-columns: "auto 75% auto",
    $grid-template-rows: "auto",
    $background-color: lightgray,
    //rgb(180, 116, 116)

      $grid-gap: "10px"
  );
  @include divRoot_divBody_divCol_2($selector);
}
// -----------------
@mixin divRoot_divHeader_divMenu2($selector) {
  $selector: $selector + " > " + ".divMenu2";
  @include grid(
    $selector: $selector,
    $grid-template-rows: "auto",
    $grid-template-columns: "repeat(7, 1fr)",
    $background-color: none
  );
  $color_hover: (#009f5e, #41274b, #1f849f, #778a74, #ffc036, #621200, #e44c50);
  @for $i from 1 to length($color_hover) + 1 {
    @include box(
      $selector: $selector + "> .box-" + $i,
      $border-width: "1px 1px 3px 0px",
      $border-color: "lightgray lightgray lightgray lightgray",
      $align-items: "center",
      $background-color-hover: nth($color_hover, $i)
    );
  }
}
// -----------------
@mixin divRoot_divHeader_divMenu1($selector) {
  $selector: $selector + " > " + ".divMenu1";
  @include grid(
    $selector: $selector,
    $grid-template-rows: "60px",
    $grid-template-columns: "5% 80% 15%",
    $background-color: rgb(224, 152, 152),
    $grid-gap: "10px"
  );
  @include box($selector: $selector + " > .box-1");
  @include box($selector: $selector + " > .box-2");
  @include box(
    $selector: $selector + " > .box-3",
    $justify-content: "left",
    $padding: "0px 0px 0px 30px",
    $font-size: 8pt
  );
}
// -----------------
@mixin divRoot_divHeader($selector) {
  $selector: $selector + " > " + ".divHeader";
  @include grid(
    $selector: $selector,
    $grid-template-columns: "1fr",
    $grid-template-rows: "1fr 1fr",
    $height: "90px",
    $background-color: white,
    $grid-gap: "0px"
  );
  @include divRoot_divHeader_divMenu1($selector);
  @include divRoot_divHeader_divMenu2($selector);
}
// -----------------
@mixin divRoot {
  $selector: ".divRoot";
  @include grid(
    $selector: $selector,
    $grid-template-columns: "1fr",
    $grid-template-rows: "90px auto 300px",
    $background-color: white,
    $grid-gap: "10px"
  );
  @include divRoot_divHeader($selector);
  @include divRoot_divBody($selector);
  @include divRoot_divFooter($selector);
}
// -----------------
@include divRoot;
// -----------------
ul#horizontal-list {
  list-style: none;
  font-size: 7pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  letter-spacing: 1pt;
}
ul#horizontal-list li {
  display: inline;
}
ul#horizontal-list li::before {
  content: "| ";
}
ul#horizontal-list li:nth-child(1)::before {
  content: "";
}
ul#horizontal-list li:hover {
  font-weight: bold;
  cursor: pointer;
}
// .div_C3 > .txtPhoto01 {
// background-color: #009F5E;
// align-items: center;
// }
// img {
// // max-width: 50%;
// // object-fit: fill;
// // background-size: 100%;
// }
.img50 {
  width: 50px;
  height: 50px;
  cursor: pointer;
  max-width: 100%;
}
.Photo {
  background-size: cover;
  width: 100%;
  height: 100%;
}
.arrowCircle {
  background-size: cover;
  width: 80%;
  height: 100%;
}
// .img100 {
// // width: 100%;
// // height: 100%;
// // max-width: 100%;
// // max-height: 100%;
// // object-fit: cover;
// // background-size: 100%;
// // height: 100%;
// // object-fit: fill;
// }
input {
  border: 0;
  background-color: transparent;
  width: 100%;
  color: rgb(141, 135, 135);
}
.logo {
  width: 100px;
  // height: 70px;
}
.logoFooter {
  width: 125px; // height: 70px;
}
.smalldw {
  font-family: sans-serif;
  color: rgb(100, 100, 100);
  font-size: 0.7vw;
  // line-height: 0vw;
  margin-top: 0vw;
  margin-bottom: 0.4vw;
}
.smalldwVideo {
  font-family: sans-serif;
  color: rgb(100, 100, 100);
  font-size: 1vw;
  // line-height: 0vw;
  margin-top: 0vw;
  margin-bottom: 0.4vw;
}
.smalltxt {
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  font-size: 0.85vw;
  // line-height: 0vw;
  margin-top: 0.4vw;
  margin-bottom: 0vw;
}
.smalltxtRecent {
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  font-size: 0.85vw;
  // line-height: 0vw;
  margin-top: 0vw;
  margin-bottom: 0vw;
}
.smalltxtVideo {
  font-family: sans-serif;
  color: black;
  font-size: 1vw;
  // line-height: 0vw;
  margin-top: 0.4vw;
  margin-bottom: 0vw;
}
.smallup {
  font-family: sans-serif;
  color: rgb(100, 100, 100);
  font-size: 0.7vw;
  // line-height: 0vw;
  margin-top: 0.4vw;
  margin-bottom: 0vw;
}
.txtMore {
  font-family: sans-serif;
  color: black;
  font-size: 0.8vw;
  // line-height: 100%;
  // margin-top: 0vw; // margin-bottom: 0vw;
  margin-top: auto;
  margin-bottom: auto;
}
.titleVideo {
  font-family: sans-serif;
  color: black;
  font-size: 1.2vw;
  font-weight: bold;
  // line-height: 100%; // margin-top: 0vw; // margin-bottom: 0vw;
  margin-top: auto;
  margin-bottom: 0.5vw;
}
.txtVideo {
  font-family: sans-serif;
  color: black;
  font-size: 1.2vw;
  // line-height: 100%;
  // margin-top: 0vw; // margin-bottom: 0vw;
  margin-top: auto;
  margin-bottom: auto;
}
.title1 {
  font-family: Arial;
  color: black;
  font-size: 1.39vw;
  // line-height: 0pt;
  margin-top: 0vw;
  margin-bottom: 0vw;
}
.div_C4_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(131, 129, 129);
  font-size: 2.1vw;
  font-weight: bold;
  // line-height: 0pt;
  margin-top: 0vw;
  margin-bottom: 0vw;
}
.div_C4_title2 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.8vw;
  // line-height: 0pt;
  margin-top: 0vw;
  margin-bottom: 0vw;
}
.div_C8_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C9_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2.5vw;
  font-weight: bold;
  text-align: center;
  // line-height: 0pt;
  margin-top: 0.5vw;
  margin-bottom: 0vw;
}
.div_C10_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C11_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1vw;
  font-weight: bold;
  // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C12_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1vw;
  font-weight: bold;
  // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C14_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1vw;
  font-weight: bold;
  // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C15_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1vw;
  font-weight: bold;
  // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C16_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.4vw;
  font-weight: bold;
  // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C18_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2vw;
  font-weight: bold;
  // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C18_title2 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1vw;
  font-weight: normal;
  // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C19_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2vw;
  font-weight: bold;
  // text-align: center; // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C19_01_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1vw;
  font-weight: bold;
  // text-align: center; // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C20_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2vw;
  font-weight: bold;
  // text-align: center; // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C20_01_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.1vw;
  font-weight: bold;
  // text-align: center; // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C22_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2vw;
  font-weight: bold;
  // text-align: center; // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C22_01_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.1vw;
  font-weight: bold;
  // text-align: center; // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C23_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2vw;
  font-weight: bold;
  // text-align: center; // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C23_01_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.1vw;
  font-weight: bold;
  // text-align: center; // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C25_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2vw;
  font-weight: bold;
  // text-align: center; // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C25_01_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.1vw;
  font-weight: bold;
  // text-align: center; // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C26_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2vw;
  font-weight: bold;
  // text-align: center; // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C26_01_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.1vw;
  font-weight: bold;
  // text-align: center; // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C27_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.7vw;
  font-weight: bold;
  // text-align: center; // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C27_01_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.1vw;
  font-weight: bold;
  // text-align: center; // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C28_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.7vw;
  font-weight: bold;
  // text-align: center; // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C28_01_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.1vw;
  font-weight: bold;
  // text-align: center; // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C29_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.8vw;
  font-weight: bold;
  // text-align: center; // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C29_01_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.1vw;
  font-weight: bold;
  // text-align: center; // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C31_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.8vw;
  font-weight: bold;
  // text-align: center; // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C31_01_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1vw;
  // font-weight: bold;
  // text-align: center; // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C32_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.8vw;
  font-weight: bold; // text-align: center; // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.div_C32_01_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1vw;
  // font-weight: bold;
  // text-align: center; // line-height: 0pt;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}
.smallRights {
  font-family: sans-serif;
  color: black;
  font-size: 8pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
  letter-spacing: 1pt;
  line-height: 12pt;
  text-align: center;
}
.smallgold {
  font-family: "Roboto", sans-serif;
  color: rgb(243, 164, 38);
  font-size: 7pt;
  margin-top: 3pt;
  margin-bottom: 3pt;
  letter-spacing: 1pt;
}
.smallblue {
  font-family: "Roboto", sans-serif;
  color: rgb(21, 131, 165);
  font-size: 7pt;
  margin-top: 3pt;
  margin-bottom: 3pt;
  letter-spacing: 1pt;
}
.smallblue:hover {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: black;
  font-size: 8pt;
  cursor: pointer;
}
.bb {
  border-bottom: lightgray solid 1px;
}
.text {
  font-family: sans-serif;
  color: black;
  font-size: 9pt;
  margin-top: 3pt;
  margin-bottom: 3pt;
  line-height: 12pt;
}
.title2 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 26pt;
  margin-top: 2pt;
  margin-bottom: 12pt;
  line-height: 30pt;
}
.title5 {
  font-family: "Fjalla One", sans-serif;
  color: black;
  font-size: 14pt;
  line-height: 18pt;
}
.title6 {
  font-family: "Fjalla One", sans-serif;
  color: black;
  font-size: 24pt;
  line-height: 30pt;
}
.icon {
  background-image: "";
}
