@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #faf1f1;
}

.divRoot {
  display: grid;
  grid-template-rows: auto auto 30%;
  grid-template-columns: 1fr;
  background-color: gray;
  grid-gap: 10px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  background-color: white;
  grid-gap: 0px;
  height: 90px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu1 {
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: 5% 80% 15%;
  background-color: #e09898;
  grid-gap: 10px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu1 > .box-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu1 > .box-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu1 > .box-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  background-color: none;
  font-family: sans-serif;
  font-size: 8pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 30px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu2 {
  display: grid;
  grid-template-rows: 30px;
  grid-template-columns: repeat(7, 1fr);
  background-color: none;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu2 > .box-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 3px 0px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu2 > .box-1:hover {
  cursor: pointer;
  background-color: #009F5E;
  color: white;
}

.divRoot > .divHeader > .divMenu2 > .box-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 3px 0px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu2 > .box-2:hover {
  cursor: pointer;
  background-color: #41274B;
  color: white;
}

.divRoot > .divHeader > .divMenu2 > .box-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 3px 0px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu2 > .box-3:hover {
  cursor: pointer;
  background-color: #1F849F;
  color: white;
}

.divRoot > .divHeader > .divMenu2 > .box-4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 3px 0px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu2 > .box-4:hover {
  cursor: pointer;
  background-color: #778A74;
  color: white;
}

.divRoot > .divHeader > .divMenu2 > .box-5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 3px 0px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu2 > .box-5:hover {
  cursor: pointer;
  background-color: #FFC036;
  color: white;
}

.divRoot > .divHeader > .divMenu2 > .box-6 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 3px 0px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu2 > .box-6:hover {
  cursor: pointer;
  background-color: #621200;
  color: white;
}

.divRoot > .divHeader > .divMenu2 > .box-7 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 3px 0px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu2 > .box-7:hover {
  cursor: pointer;
  background-color: #E44C50;
  color: white;
}

.divRoot > .divBody {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  background-color: #6e6eac;
  grid-gap: 0px;
  height: 300vh;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divRow_1 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 2fr 5fr 2fr 2fr;
  background-color: lightgray;
  grid-gap: 10px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divRow_1 > .divCol_2 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  background-color: rgba(255, 116, 236, 0.781);
  grid-gap: 10px;
  height: 120vh;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 5px 5px 5px 5px;
  border-color: red red red red;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divRow_1 > .divCol_2 > .divRow_1 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 6fr 3fr;
  background-color: #ec5e33;
  grid-gap: 10px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divRow_1 > .divCol_2 > .divRow_1 > .divCol_1 {
  display: grid;
  grid-template-rows: 70% 30%;
  grid-template-columns: 1fr;
  background-color: #adadad;
  grid-gap: 10px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 5px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divRow_1 > .divCol_2 > .divRow_1 > .divCol_2 {
  display: grid;
  grid-template-rows: 60% 40%;
  grid-template-columns: 1fr;
  background-color: #adadad;
  grid-gap: 10px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 5px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divRow_1 > .divCol_2 > .divRow_2 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: #ec5e33;
  grid-gap: 10px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divRow_1 > .divCol_2 > .divRow_2 > .divCol_1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  background-color: #c78cb0;
  grid-gap: 10px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divRow_1 > .divCol_2 > .divRow_2 > .divCol_1 > .divRow_1 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: #adadad;
  grid-gap: 10px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 5px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divRow_1 > .divCol_2 > .divRow_2 > .divCol_1 > .divRow_2 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: #adadad;
  grid-gap: 10px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 5px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divRow_1 > .divCol_2 > .divRow_2 > .divCol_2 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  background-color: #887e7e;
  grid-gap: 10px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 5px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divRow_1 > .divCol_2 > .divRow_3 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: #adadad;
  grid-gap: 10px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 5px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divRow_1 > .divCol_3 {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  background-color: rgba(255, 116, 236, 0.781);
  grid-gap: 10px;
  height: 100vh;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 5px 5px 5px 5px;
  border-color: red red red red;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divRow_1 > .divCol_3 > .divRow_1 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  background-color: #adadad;
  grid-gap: 10px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divRow_1 > .divCol_3 > .divRow_2 {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  background-color: #adadad;
  grid-gap: 10px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 10px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 5px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divRow_1 > .divCol_3 > .divRow_2 > .divCol_1 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  background-color: #adadad;
  grid-gap: 10px;
  height: auto;
  margin: auto;
  padding: 10px 0px 10px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divRow_1 > .divCol_3 > .divRow_2 > .divCol_2 {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: 1fr;
  background-color: #4ab859;
  grid-gap: 10px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 0px 1px 0px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divRow_1 > .divCol_3 > .divRow_2 > .divCol_2 > .divRow_1 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: #9c9dbd;
  grid-gap: 10px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 0px 1px 0px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divFooter {
  display: grid;
  grid-template-rows: 20% 25% 15% 40%;
  grid-template-columns: 1fr;
  background-color: #e794a2;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divFooter > .box-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divFooter > .box-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divFooter > .box-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divFooter > .box-4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

ul#horizontal-list {
  list-style: none;
  font-size: 7pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  letter-spacing: 1pt;
}

ul#horizontal-list li {
  display: inline;
}

ul#horizontal-list li::before {
  content: "| ";
}

ul#horizontal-list li:nth-child(1)::before {
  content: "";
}

ul#horizontal-list li:hover {
  font-weight: bold;
  cursor: pointer;
}

.img50 {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.img100 {
  width: 100%;
  height: 100%;
}

.logo {
  width: 100px;
}

.logoFooter {
  width: 125px;
}

.small {
  font-family: 'Roboto', sans-serif;
  color: #646464;
  font-size: 7pt;
  margin-top: 3pt;
  margin-bottom: 3pt;
  letter-spacing: 1pt;
}

.smallRights {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 8pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
  letter-spacing: 1pt;
  line-height: 12pt;
  text-align: center;
}

.smallgold {
  font-family: 'Roboto', sans-serif;
  color: #f3a426;
  font-size: 7pt;
  margin-top: 3pt;
  margin-bottom: 3pt;
  letter-spacing: 1pt;
}

.smallblue {
  font-family: 'Roboto', sans-serif;
  color: #1583a5;
  font-size: 7pt;
  margin-top: 3pt;
  margin-bottom: 3pt;
  letter-spacing: 1pt;
}

.text {
  font-family: sans-serif;
  color: black;
  font-size: 9pt;
  margin-top: 3pt;
  margin-bottom: 3pt;
  line-height: 12pt;
}

.title1 {
  font-family: 'Fjalla One', sans-serif;
  color: black;
  font-size: 20pt;
  line-height: 18pt;
}

.title2 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 26pt;
  margin-top: 2pt;
  margin-bottom: 12pt;
  line-height: 30pt;
}

.title3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #b1adad;
  font-size: 24pt;
}

.title4 {
  font-family: 'Fjalla One', sans-serif;
  color: black;
  font-size: 14pt;
  line-height: 18pt;
}

.title5 {
  font-family: 'Fjalla One', sans-serif;
  color: black;
  font-size: 14pt;
  line-height: 18pt;
}

.title6 {
  font-family: 'Fjalla One', sans-serif;
  color: black;
  font-size: 24pt;
  line-height: 30pt;
}

.icon {
  background-image: '';
}
