@import "reset.css";

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');


body {
    margin: 0;
    padding:0;
    background-color: complement( tomato);
}

$selectorMap: (

    menu_A: '.menu > .row_A',
    menu_B: '.menu > .row_B',

    g1                          : '.grid-1',
    
    g1-c1-b1                    : '.grid-1 > .col-1 > .box-1',
    g1-c2-b1                    : '.grid-1 > .col-2 > .box-1',
    g1-c2-b2                    : '.grid-1 > .col-2 > .box-2',

    g1-c1-b1-g1                 : '.grid-1 > .col-1 > .box-1 > .grid-1',
    g1-c1-b1-g2                 : '.grid-1 > .col-1 > .box-1 > .grid-2',
    g1-c1-b1-g3                 : '.grid-1 > .col-1 > .box-1 > .grid-3',
    g1-c2-b2-g1                 : '.grid-1 > .col-2 > .box-2 > .grid-1',
    
    g1-c1-b1-g1-b1              : '.grid-1 > .col-1 > .box-1 > .grid-1 > .box-1',    
    g1-c1-b1-g1-b2              : '.grid-1 > .col-1 > .box-1 > .grid-1 > .box-2',    
    g1-c1-b1-g2-b1              : '.grid-1 > .col-1 > .box-1 > .grid-2 > .box-1',
    g1-c1-b1-g2-b2              : '.grid-1 > .col-1 > .box-1 > .grid-2 > .box-2',
    g1-c1-b1-g3-b1              : '.grid-1 > .col-1 > .box-1 > .grid-3 > .box-1',
    g1-c2-b2-g1-b1              : '.grid-1 > .col-2 > .box-2 > .grid-1 > .box-1',
    g1-c2-b2-g1-b2              : '.grid-1 > .col-2 > .box-2 > .grid-1 > .box-2',
    g1-c2-b2-g1-b3              : '.grid-1 > .col-2 > .box-2 > .grid-1 > .box-3',

    g1-c1-b1-g1-b1-g1           : '.grid-1 > .col-1 > .box-1 > .grid-1 > .box-1 > .grid-1',    
    g1-c1-b1-g1-b2-g1           : '.grid-1 > .col-1 > .box-1 > .grid-1 > .box-2 > .grid-1',    
    g1-c1-b1-g2-b1-g1           : '.grid-1 > .col-1 > .box-1 > .grid-2 > .box-1 > .grid-1',
    g1-c1-b1-g3-b1-g1           : '.grid-1 > .col-1 > .box-1 > .grid-3 > .box-1 > .grid-1',

    g1-c1-b1-g1-b1-g1-b1        : '.grid-1 > .col-1 > .box-1 > .grid-1 > .box-1 > .grid-1 > .box-1',    
    g1-c1-b1-g1-b1-g1-b2        : '.grid-1 > .col-1 > .box-1 > .grid-1 > .box-1 > .grid-1 > .box-2',    
    g1-c1-b1-g1-b2-g1-b1        : '.grid-1 > .col-1 > .box-1 > .grid-1 > .box-2 > .grid-1 > .box-1',    
    g1-c1-b1-g1-b2-g1-b2        : '.grid-1 > .col-1 > .box-1 > .grid-1 > .box-2 > .grid-1 > .box-2',    
    
    g1-c1-b1-gs                 : '.grid-1 > .col-1 > .box-1 > .grid-space',
    
    g1-c1-b1-g2-b1-g1-b1        : '.grid-1 > .col-1 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-1',
    g1-c1-b1-g2-b1-g1-b2        : '.grid-1 > .col-1 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-2',
    g1-c1-b1-g3-b1-g1-b1        : '.grid-1 > .col-1 > .box-1 > .grid-3 > .box-1 > .grid-1 > .box-1',
    g1-c1-b1-g3-b1-g1-b2        : '.grid-1 > .col-1 > .box-1 > .grid-3 > .box-1 > .grid-1 > .box-2',

    g1-c1-b1-g2-b1-g1-b1-g1     : '.grid-1 > .col-1 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-1 > .grid-1',
    g1-c1-b1-g2-b1-g1-b2-g1     : '.grid-1 > .col-1 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-2 > .grid-1',

    g1-c1-b1-g2-b1-g1-b1-g1-b1  : '.grid-1 > .col-1 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-1 > .grid-1 > .box-1',
    g1-c1-b1-g2-b1-g1-b1-g1-b2  : '.grid-1 > .col-1 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-1 > .grid-1 > .box-2',
    g1-c1-b1-g2-b1-g1-b2-g1-b1  : '.grid-1 > .col-1 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-2 > .grid-1 > .box-1',
    g1-c1-b1-g2-b1-g1-b2-g1-b2  : '.grid-1 > .col-1 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-2 > .grid-1 > .box-2',
    
);
     
//------------

@mixin grid(        $selector           : 'container',
                    $rows               : 'repeat(16, 1fr)',
                    $cols               : 'repeat(16, 1fr)',
                    $width              : 100%,
                    $height             : auto,
                    $grid-gap           : 0px,
                    $background-color   : white,
                    $padding            : '0px 0px 0px 0px',
                    $margin             : '0px 0px 0px 0px',
                    $border-radius      : '0px 0px 0px 0px',
                    $border-style       : 'solid solid solid solid',
                    $border-width       : '0px 0px 0px 0px',
                    $border-color       : 'black black black black',
                    $box-shadow         : '0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black') {

    // #{map-get($selectorMap, $selector)} 
    #{$selector} {
        display                 : grid;
        grid-template-rows      : unquote($rows);
        grid-template-columns   : unquote($cols);
        width                   : unquote($width);
        height                  : unquote($height);
        grid-gap                : unquote($grid-gap);
        background-color        : unquote($background-color);
        margin                  : unquote($margin); // top, right, bottom, left
        padding                 : unquote($padding);
        border-radius           : unquote($border-radius);
        border-style            : unquote($border-style);
        border-width            : unquote($border-width);
        border-color            : unquote($border-color);
        box-shadow              : unquote($box-shadow); // 0px 0px black, -10px -10px red, 15px 15px green;
      };
};

//--------------------

@mixin box( $selector           : 'container1',
            $element            : 'box--1',
            $flex-direction     : row,
            $align-items        : center,
            $align-content      : flex-start,
            $justify-content    : center,
            $height             : auto,
            $background-color   : none,
            $font-family        : sans-serif,
            $font-size          : 10pt,
            $grid-area          : '',
            $padding            : '0px 0px 0px 0px',
            $margin             : '0px 0px 0px 0px',
            $border-radius      : '0px 0px 0px 0px',
            $border-style       : 'solid solid solid solid',
            $border-width       : '0px 0px 0px 0px',
            $border-color       : 'black black black black',
            $box-shadow         : '0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black') {

    // #{map-get($selectorMap, $selector)} 
    #{$selector} {
        // & > .#{$element} {
            display          : flex;
            flex-direction   : unquote($flex-direction);
            flex-wrap        : wrap; 
            align-items      : unquote($align-items);
            align-content    : unquote($align-content);
            justify-content  : unquote($justify-content);
            height           : unquote($height);
            background-color : unquote($background-color);
            font-family      : unquote($font-family); // 'Roboto', sans-serif;
            font-size        : unquote($font-size); // 10pt 
            grid-area        : unquote($grid-area); // row-start, column-start, row-end, column-end
            margin           : unquote($margin); // top, right, bottom, left
            padding          : unquote($padding);
            border-radius    : unquote($border-radius);
            border-style     : unquote($border-style);
            border-width     : unquote($border-width);
            border-color     : unquote($border-color);
            box-shadow       : unquote($box-shadow); // 0px 0px black, -10px -10px red, 15px 15px green;
        // };
    };
};

//-----------------

@mixin menu-row_A {
    $selector: '.menu > .row_A';
    @include grid($selector: $selector, $rows: '50px', $cols: '5% 80% 15%', $background-color: white);
        @include box($selector: $selector + ' > .box-1', $align-content:'center');
        @include box($selector: $selector + ' > .box-2', $align-content:'center' );
        @include box($selector: $selector + ' > .box-3', $justify-content: right, $align-content:'center',
                     $padding: '0px 5px 0px 0px', $font-size: 8pt, $background-color: tomato);
};

@mixin menu-row_B {
    $selector: '.menu > .row_B';
    @include grid( $selector: $selector, $rows: 30px, $cols: 'repeat(10, 1fr)',
                    $background-color: white);
    @for $var from 1 to 12 {
        @include box($selector: $selector + '> .box-' + $var,
                        $border-width : '1px 1px 3px 0px',
                        $border-color : 'gray gray gray gray',
                        $align-content: 'center');
    }

};


@mixin side-most-popular( $selector ) {

    $selector: $selector;
    @include box($selector: $selector, $flex-direction: 'col', $background-color: none,
                $height: 'auto', $padding: '0px 0px 0px 0px'); 

    $selector: $selector + ' > .grid-1';
    @include grid( $selector: $selector, $cols: '1fr 2fr', $rows: 'auto',
        $border-width: '1px 0px 1px 0px',
        $border-color: 'black black black black',
        $height: 'auto%', $background-color: rgb(233, 233, 139), $grid-gap: '10px' ); 

    $selectorBox: $selector + ' > .box-1';
    @include box($selector: $selectorBox, $flex-direction: 'col', $background-color: gray,
        $height: 'auto', $padding: '10px 10px 10px 10px');
    
    $selectorBox: $selector + ' > .box-2';
    @include box($selector: $selectorBox, $flex-direction: 'col', $background-color: #f2f2f2,
        $justify-content:'right',  $height: 'auto', $padding: '10px 10px 10px 10px');
}

// g1-c2-b1                    : '.grid-1 > .col-2 > .box-1',
// g1-c3-b1                    : '.grid-1 > .col-3 > .box-1',
// g1-c3-b2                    : '.grid-1 > .col-3 > .box-2',

// @mixin part-1 {
//     @include g1-c1;
//     @include g1-c2;
// }

@mixin part-1 {
    $selector: '.grid-1';
    @include grid( $selector: $selector,  $cols: '1fr 8fr 3fr 1fr', $rows: '1fr',
                    $height: '100%',  $background-color: lightgray, $grid-gap: '10px');
    
    $selector: '.grid-1 > .col-2 > .box-1';
    @include box($selector: $selector, $flex-direction: 'col', $background-color: rgb(234, 245, 86),
                  $height: 'auto', $padding: '10px 10px 10px 10px');

    $selector: '.grid-1 > .col-2 > .box-1 > .grid-1';
    @include grid( $selector: $selector, $cols: '6fr 3fr', $rows: auto,
                    $height: 'auto', $background-color: rgb(118, 118, 231), $grid-gap: '10px' );

    $selector: '.grid-1 > .col-2 > .box-1 > .grid-1 > .box-1';    
    @include box($selector: $selector, $flex-direction: 'col', $background-color: rgb(173, 58, 58),
                    $border-width: '5px 1px 1px 1px',
                    $border-color: 'black lightgray lightgray lightgray',
                    $height: 'auto', $padding: '10px 10px 10px 10px');  

    $selector: '.grid-1 > .col-2 > .box-1 > .grid-1 > .box-2';    
    @include box($selector: $selector, $flex-direction: 'col', $background-color: pink,
                    $border-width: '5px 1px 1px 1px',
                    $border-color: 'black lightgray lightgray lightgray',
                    $align-items: 'flex-start',  $height: 'auto', $padding: '10px 10px 10px 10px');                

    $selector: '.grid-1 > .col-3 > .box-1';
    @include box($selector: $selector, $flex-direction: 'col', $background-color: green,
                    $height: 'auto', $padding: '10px 10px 10px 10px'); 

    $selector: '.grid-1 > .col-2 > .box-1 > .grid-1 > .box-1 > .grid-1';    
    @include grid( $selector: $selector, $rows: '6fr 2fr', $cols: '1fr',
                    $height: 'auto', $background-color: gold, $grid-gap: '10px' );

    $selector: '.grid-1 > .col-2 > .box-1 > .grid-1 > .box-1 > .grid-1 > .box-1';    
    @include box($selector: $selector, $flex-direction: 'col', $background-color: gray,
                 $height: 'auto', $padding: '10px 10px 10px 10px'); 

    $selector: '.grid-1 > .col-2 > .box-1 > .grid-1 > .box-1 > .grid-1 > .box-2';    
    @include box($selector: $selector, $flex-direction: 'col', $background-color: rgb(86, 180, 197),
                $justify-content: 'left', $height: 'auto', $padding: '10px 10px 10px 10px'); 

    $selector: '.grid-1 > .col-2 > .box-1 > .grid-1 > .box-2 > .grid-1';    
    @include grid( $selector: $selector, $rows: '6fr 3fr', $cols: '1fr',
                    $height: 'auto', $background-color: rgb(55, 172, 55), $grid-gap: '10px' );

    $selector: '.grid-1 > .col-2 > .box-1 > .grid-1 > .box-2 > .grid-1 > .box-1';    
    @include box($selector: $selector, $flex-direction: 'col', $background-color: deeppink,
                    $height: 'auto', $padding: '10px 10px 10px 10px'); 

    $selector: '.grid-1 > .col-2 > .box-1 > .grid-1 > .box-2 > .grid-1 > .box-2';    
    @include box($selector: $selector, $flex-direction: 'col', $background-color: rgb(218, 55, 34),
                    $justify-content: 'left', $height: 'auto', $padding: '10px 10px 10px 10px');

    //-------------------
    
    $selector: '.grid-1 > .col-2 > .box-1 > .grid-space';
    @include grid( $selector: $selector, $cols: '1fr', $rows: '1fr',
    $height: '10px', $background-color: none );
    
    //-------------------

    $selector: '.grid-1 > .col-2 > .box-1 > .grid-2';
    @include grid( $selector: $selector, $cols: '5fr 5fr', $rows: auto,
                    $height: 'auto', $background-color: tomato, $grid-gap: '10px' );


    $selector: '.grid-1 > .col-2 > .box-1 > .grid-2 > .box-1';
    @include box($selector: $selector, $flex-direction: 'col', $background-color: rgb(109, 109, 219),
                    $height: 'auto', $padding: '10px 10px 10px 10px'); 

    $selector: '.grid-1 > .col-2 > .box-1 > .grid-2 > .box-2';
    @include box($selector: $selector, $flex-direction: 'col', $background-color: rgb(155, 39, 39),
                    $border-width: '5px 1px 1px 1px',
                    $border-color: 'black lightgray lightgray lightgray',
                $align-items: 'flex-start', $justify-content: 'left', $height: 'auto', $padding: '10px 10px 10px 10px'); 

    $selector: '.grid-1 > .col-2 > .box-1 > .grid-2 > .box-1 > .grid-1';
    @include grid( $selector: $selector, $cols: '1fr', $rows: '1fr 1fr',
                    $height: '100%', $background-color: gold, $grid-gap: '10px' );

    $selector: '.grid-1 > .col-2 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-1';
    @include box($selector: $selector, $flex-direction: 'col', $background-color: deeppink,
                    $border-width: '5px 1px 1px 1px',
                    $border-color: 'black lightgray lightgray lightgray',
                    $height: 'auto', $padding: '10px 10px 10px 10px');
                    
    $selector: '.grid-1 > .col-2 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-2';
    @include box($selector: $selector, $flex-direction: 'col', $background-color: rgb(243, 224, 56),
                    $border-width: '5px 1px 1px 1px',
                    $border-color: 'black lightgray lightgray lightgray',
                    $height: 'auto', $padding: '10px 10px 10px 10px');
                    
    $selector: '.grid-1 > .col-2 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-1 > .grid-1';
    @include grid( $selector: $selector, $cols: '1fr 1fr', $rows: '1fr',
                    $height: '100%', $background-color: gold, $grid-gap: '10px' );

    $selector: '.grid-1 > .col-2 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-1 > .grid-1 > .box-1';
    @include box($selector: $selector, $flex-direction: 'col', $background-color: white,
                $align-items: 'flex-start', $justify-content: 'left', $height: 'auto', $padding: '10px 10px 10px 10px');                

    $selector: '.grid-1 > .col-2 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-1 > .grid-1 > .box-2';
    @include box($selector: $selector, $flex-direction: 'col', $background-color: white,
                    $height: 'auto', $padding: '10px 10px 10px 10px');                
           
    $selector: '.grid-1 > .col-2 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-2 > .grid-1';
    @include grid( $selector: $selector, $cols: '1fr 1fr', $rows: '1fr',
                    $height: '100%', $background-color: rgb(195, 0, 255), $grid-gap: '10px' );
                    
    $selector: '.grid-1 > .col-2 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-2 > .grid-1 > .box-1';
    @include box($selector: $selector, $flex-direction: 'col', $background-color: white,
                    $height: 'auto', $padding: '10px 10px 10px 10px');                

    $selector: '.grid-1 > .col-2 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-2 > .grid-1 > .box-2';
    @include box($selector: $selector, $flex-direction: 'col', $background-color: white,
                $align-items: 'flex-start', $justify-content: 'left', $height: 'auto', $padding: '10px 10px 10px 10px'); 

    //-------------------

    $selector: '.grid-1 > .col-2 > .box-1 > .grid-3';
    @include grid( $selector: $selector, $cols: '1fr', $rows: auto,
                    $height: 'auto', $background-color: yellow, $grid-gap: '10px' );

    $selector: '.grid-1 > .col-2 > .box-1 > .grid-3 > .box-1';
    @include box($selector: $selector, $flex-direction: 'col', $background-color: gray,
                    $border-width: '5px 1px 1px 1px',
                    $border-color: 'black lightgray lightgray lightgray',
                    $height: 'auto', $padding: '10px 10px 10px 10px');                    

    $selector: '.grid-1 > .col-2 > .box-1 > .grid-3 > .box-1 > .grid-1';
    @include grid( $selector: $selector, $cols: '5fr 5fr', $rows: auto,
                    $height: '100%', $background-color: tomato, $grid-gap: '10px' );


    $selector: '.grid-1 > .col-2 > .box-1 > .grid-3 > .box-1 > .grid-1 > .box-1';
    @include box($selector: $selector, $flex-direction: 'col', $background-color: cyan,
                    $height: 'auto', $padding: '10px 10px 10px 10px'); 

    $selector: '.grid-1 > .col-2 > .box-1 > .grid-3 > .box-1 > .grid-1 > .box-2';
    @include box($selector: $selector, $flex-direction: 'col', $background-color: white,
                $align-items: 'flex-start', $justify-content: 'left', $height: 'auto', $padding: '10px 10px 10px 10px'); 

    //-------------------

    $selector: '.grid-1 > .col-3 > .box-2';
    @include box($selector: $selector, $flex-direction: 'col', $background-color: rgb(56, 158, 165),
                $align-content: 'flex-start', $height: 'auto', $padding: '10px 10px 10px 10px'); 

    $selector: '.grid-1 > .col-3 > .box-2 > .grid-1';
    @include grid( $selector: $selector, $cols: auto, $rows: 'auto',
                    $height: 'auto', $background-color: deeppink, $grid-gap: '0px' ); 
                    
    $selector: '.grid-1 > .col-3 > .box-2 > .grid-1 > .box-1';
    @include box($selector: $selector, $flex-direction: 'col', $background-color: green,
                $justify-content: 'left', $height: 'auto', $padding: '10px 10px 10px 10px');

    $selector: '.grid-1 > .col-3 > .box-2 > .grid-1 > .box-2';
    @include side-most-popular( $selector );
    
    $selector: '.grid-1 > .col-3 > .box-2 > .grid-1 > .box-3';
    @include box($selector: $selector, $flex-direction: 'col', $background-color: rgb(219, 210, 83),
                $justify-content: 'left', $height: 'auto', $padding: '10px 10px 10px 10px');


}

//----------------------------

@include menu-row_A;
@include menu-row_B;

@include part-1;


//----------------------------

.img100 {
    width: 100%;
    height: 100%;
}


.logo {
    width: 40%; 
    height: 40%; 
}

.small {
    font-family: 'Roboto', sans-serif;
    color: rgb(100, 100, 100);
    font-size: 7pt;
    margin-top: 3pt;
    margin-bottom: 3pt; 
    letter-spacing: 1pt;
}


.smallgold {
    font-family: 'Roboto', sans-serif;
    color: rgb(243, 164, 38);
    font-size: 7pt;
    margin-top: 3pt;
    margin-bottom: 3pt; 
    letter-spacing: 1pt;
}

.smallblue {
    font-family: 'Roboto', sans-serif;
    color: rgb(21, 131, 165);
    font-size: 7pt;
    margin-top: 3pt;
    margin-bottom: 3pt; 
    letter-spacing: 1pt;
}

.text {
    font-family:  sans-serif;
    color: black;
    font-size: 9pt;
    margin-top: 3pt;
    margin-bottom: 3pt; 
    line-height: 12pt;

}



.title1 {
    font-family: 'Fjalla One', sans-serif;
    color: black;
    font-size: 16pt;
    line-height: 18pt;
}

.title2 {

    font-family: 'Oswald', cursive;
    color: black;
    font-size: 26pt;
    margin-top: 2pt;
    margin-bottom: 12pt; 
    line-height: 30pt;

}

.title3 {

    font-family: 'Abril Fatface', cursive;
    color: rgb(177, 173, 173);
    font-size: 24pt;
}

.title4 {
    font-family: 'Fjalla One', sans-serif;
    color: black;
    font-size: 14pt;
    line-height: 18pt;
}

.title5 {
    font-family: 'Fjalla One', sans-serif;
    color: black;
    font-size: 14pt;
    line-height: 18pt;
}

.title6 {
    font-family: 'Fjalla One', sans-serif;
    color: black;
    font-size: 24pt;
    line-height: 30pt;

}

.icon {
    background-image: '';
}

