@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #47e3ff;
}

.menu > .row_A {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 5% 80% 15%;
  width: 100%;
  height: auto;
  grid-gap: 0px;
  background-color: white;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.menu > .row_A > .box-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: auto;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.menu > .row_A > .box-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: auto;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.menu > .row_A > .box-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: right;
  height: auto;
  background-color: tomato;
  font-family: sans-serif;
  font-size: 8pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 5px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.menu > .row_B {
  display: grid;
  grid-template-rows: 30px;
  grid-template-columns: repeat(10, 1fr);
  width: 100%;
  height: auto;
  grid-gap: 0px;
  background-color: white;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.menu > .row_B > .box-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: auto;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 3px 0px;
  border-color: gray gray gray gray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.menu > .row_B > .box-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: auto;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 3px 0px;
  border-color: gray gray gray gray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.menu > .row_B > .box-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: auto;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 3px 0px;
  border-color: gray gray gray gray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.menu > .row_B > .box-4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: auto;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 3px 0px;
  border-color: gray gray gray gray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.menu > .row_B > .box-5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: auto;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 3px 0px;
  border-color: gray gray gray gray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.menu > .row_B > .box-6 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: auto;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 3px 0px;
  border-color: gray gray gray gray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.menu > .row_B > .box-7 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: auto;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 3px 0px;
  border-color: gray gray gray gray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.menu > .row_B > .box-8 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: auto;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 3px 0px;
  border-color: gray gray gray gray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.menu > .row_B > .box-9 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: auto;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 3px 0px;
  border-color: gray gray gray gray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.menu > .row_B > .box-10 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: auto;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 3px 0px;
  border-color: gray gray gray gray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.menu > .row_B > .box-11 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: auto;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 3px 0px;
  border-color: gray gray gray gray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 8fr 3fr 1fr;
  width: 100%;
  height: 100%;
  grid-gap: 10px;
  background-color: lightgray;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  height: auto;
  background-color: #eaf556;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-1 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 6fr 3fr;
  width: 100%;
  height: auto;
  grid-gap: 10px;
  background-color: #7676e7;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-1 > .box-1 {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  height: auto;
  background-color: #ad3a3a;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 5px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-1 > .box-2 {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  height: auto;
  background-color: pink;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 5px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-3 > .box-1 {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  height: auto;
  background-color: green;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-1 > .box-1 > .grid-1 {
  display: grid;
  grid-template-rows: 6fr 2fr;
  grid-template-columns: 1fr;
  width: 100%;
  height: auto;
  grid-gap: 10px;
  background-color: gold;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-1 > .box-1 > .grid-1 > .box-1 {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  height: auto;
  background-color: gray;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-1 > .box-1 > .grid-1 > .box-2 {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: left;
  height: auto;
  background-color: #56b4c5;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-1 > .box-2 > .grid-1 {
  display: grid;
  grid-template-rows: 6fr 3fr;
  grid-template-columns: 1fr;
  width: 100%;
  height: auto;
  grid-gap: 10px;
  background-color: #37ac37;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-1 > .box-2 > .grid-1 > .box-1 {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  height: auto;
  background-color: deeppink;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-1 > .box-2 > .grid-1 > .box-2 {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: left;
  height: auto;
  background-color: #da3722;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-space {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  width: 100%;
  height: 10px;
  grid-gap: 0px;
  background-color: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-2 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 5fr 5fr;
  width: 100%;
  height: auto;
  grid-gap: 10px;
  background-color: tomato;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-2 > .box-1 {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  height: auto;
  background-color: #6d6ddb;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-2 > .box-2 {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: left;
  height: auto;
  background-color: #9b2727;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 5px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-2 > .box-1 > .grid-1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
  grid-gap: 10px;
  background-color: gold;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-1 {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  height: auto;
  background-color: deeppink;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 5px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-2 {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  height: auto;
  background-color: #f3e038;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 5px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-1 > .grid-1 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  grid-gap: 10px;
  background-color: gold;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-1 > .grid-1 > .box-1 {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: left;
  height: auto;
  background-color: white;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-1 > .grid-1 > .box-2 {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  height: auto;
  background-color: white;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-2 > .grid-1 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  grid-gap: 10px;
  background-color: #c300ff;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-2 > .grid-1 > .box-1 {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  height: auto;
  background-color: white;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-2 > .box-1 > .grid-1 > .box-2 > .grid-1 > .box-2 {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: left;
  height: auto;
  background-color: white;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-3 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  width: 100%;
  height: auto;
  grid-gap: 10px;
  background-color: yellow;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-3 > .box-1 {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  height: auto;
  background-color: gray;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 5px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-3 > .box-1 > .grid-1 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 5fr 5fr;
  width: 100%;
  height: 100%;
  grid-gap: 10px;
  background-color: tomato;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-3 > .box-1 > .grid-1 > .box-1 {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  height: auto;
  background-color: cyan;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-2 > .box-1 > .grid-3 > .box-1 > .grid-1 > .box-2 {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: left;
  height: auto;
  background-color: white;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-3 > .box-2 {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  height: auto;
  background-color: #389ea5;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-3 > .box-2 > .grid-1 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  width: 100%;
  height: auto;
  grid-gap: 0px;
  background-color: deeppink;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-3 > .box-2 > .grid-1 > .box-1 {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: left;
  height: auto;
  background-color: green;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-3 > .box-2 > .grid-1 > .box-2 {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  height: auto;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-3 > .box-2 > .grid-1 > .box-2 > .grid-1 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  height: auto%;
  grid-gap: 10px;
  background-color: #e9e98b;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 0px 1px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-3 > .box-2 > .grid-1 > .box-2 > .grid-1 > .box-1 {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  height: auto;
  background-color: gray;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-3 > .box-2 > .grid-1 > .box-2 > .grid-1 > .box-2 {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: right;
  height: auto;
  background-color: #f2f2f2;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.grid-1 > .col-3 > .box-2 > .grid-1 > .box-3 {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: left;
  height: auto;
  background-color: #dbd253;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.img100 {
  width: 100%;
  height: 100%;
}

.logo {
  width: 40%;
  height: 40%;
}

.small {
  font-family: 'Roboto', sans-serif;
  color: #646464;
  font-size: 7pt;
  margin-top: 3pt;
  margin-bottom: 3pt;
  letter-spacing: 1pt;
}

.smallgold {
  font-family: 'Roboto', sans-serif;
  color: #f3a426;
  font-size: 7pt;
  margin-top: 3pt;
  margin-bottom: 3pt;
  letter-spacing: 1pt;
}

.smallblue {
  font-family: 'Roboto', sans-serif;
  color: #1583a5;
  font-size: 7pt;
  margin-top: 3pt;
  margin-bottom: 3pt;
  letter-spacing: 1pt;
}

.text {
  font-family: sans-serif;
  color: black;
  font-size: 9pt;
  margin-top: 3pt;
  margin-bottom: 3pt;
  line-height: 12pt;
}

.title1 {
  font-family: 'Fjalla One', sans-serif;
  color: black;
  font-size: 16pt;
  line-height: 18pt;
}

.title2 {
  font-family: 'Oswald', cursive;
  color: black;
  font-size: 26pt;
  margin-top: 2pt;
  margin-bottom: 12pt;
  line-height: 30pt;
}

.title3 {
  font-family: 'Abril Fatface', cursive;
  color: #b1adad;
  font-size: 24pt;
}

.title4 {
  font-family: 'Fjalla One', sans-serif;
  color: black;
  font-size: 14pt;
  line-height: 18pt;
}

.title5 {
  font-family: 'Fjalla One', sans-serif;
  color: black;
  font-size: 14pt;
  line-height: 18pt;
}

.title6 {
  font-family: 'Fjalla One', sans-serif;
  color: black;
  font-size: 24pt;
  line-height: 30pt;
}

.icon {
  background-image: '';
}
