.divRoot {
  display: grid;
  grid-template-rows: 90px auto 300px;
  grid-template-columns: 1fr;
  background-color: white;
  grid-gap: 10px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  background-color: white;
  grid-gap: 0px;
  height: 90px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu1 {
  display: grid;
  grid-template-rows: 60px;
  grid-template-columns: 5% 80% 15%;
  background-color: #e09898;
  grid-gap: 10px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu1 > .box-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu1 > .box-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu1 > .box-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  background-color: none;
  font-family: sans-serif;
  font-size: 8pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 30px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu2 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(7, 1fr);
  background-color: none;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu2 > .box-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 3px 0px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu2 > .box-1:hover {
  cursor: pointer;
  background-color: #009f5e;
  color: white;
}

.divRoot > .divHeader > .divMenu2 > .box-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 3px 0px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu2 > .box-2:hover {
  cursor: pointer;
  background-color: #41274b;
  color: white;
}

.divRoot > .divHeader > .divMenu2 > .box-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 3px 0px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu2 > .box-3:hover {
  cursor: pointer;
  background-color: #1f849f;
  color: white;
}

.divRoot > .divHeader > .divMenu2 > .box-4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 3px 0px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu2 > .box-4:hover {
  cursor: pointer;
  background-color: #778a74;
  color: white;
}

.divRoot > .divHeader > .divMenu2 > .box-5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 3px 0px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu2 > .box-5:hover {
  cursor: pointer;
  background-color: #ffc036;
  color: white;
}

.divRoot > .divHeader > .divMenu2 > .box-6 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 3px 0px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu2 > .box-6:hover {
  cursor: pointer;
  background-color: #621200;
  color: white;
}

.divRoot > .divHeader > .divMenu2 > .box-7 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 1px 1px 3px 0px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divHeader > .divMenu2 > .box-7:hover {
  cursor: pointer;
  background-color: #e44c50;
  color: white;
}

.divRoot > .divBody {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 75% auto;
  background-color: lightgray;
  grid-gap: 10px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1vw);
  grid-template-columns: repeat(auto-fill, 1vw);
  background-color: lightgray;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C1 {
  display: grid;
  grid-template-rows: 15vw 1vw 6vw;
  grid-template-columns: 28vw;
  grid-row: 2 / span 24;
  grid-column: 4 / span 30;
  background-color: #f5f1f1;
  grid-gap: 0;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 3px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 3px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C2 {
  display: grid;
  grid-template-rows: 13vw 1vw 8vw;
  grid-template-columns: 14vw;
  grid-row: 2 / span 24;
  grid-column: 35 / span 16;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 3px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 3px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C7 {
  display: grid;
  grid-template-rows: 44vw;
  grid-template-columns: 20vw;
  grid-row: 2 / span 44;
  grid-column: 52 / span 18;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C3 {
  display: grid;
  grid-template-rows: 10vw;
  grid-template-columns: 10vw 1vw 9vw;
  grid-row: 27 / span 12;
  grid-column: 4 / span 22;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 3px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 3px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C5 {
  display: grid;
  grid-template-rows: 10vw;
  grid-template-columns: 10vw 1vw 9vw;
  grid-row: 40 / span 12;
  grid-column: 4 / span 22;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 3px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 3px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C6 {
  display: grid;
  grid-template-rows: 18vw;
  grid-template-columns: 29vw 1vw 16vw;
  grid-row: 53 / span 20;
  grid-column: 4 / span 47;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 3px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 3px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C4 {
  display: grid;
  grid-template-rows: 23vw;
  grid-template-columns: 22vw;
  grid-row: 27 / span 25;
  grid-column: 27 / span 24;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 3px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 3px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C8_Start {
  display: grid;
  grid-template-rows: 3vw;
  grid-template-columns: 18vw;
  grid-row: 47 / span 5;
  grid-column: 52 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 10px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 10px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C8_01 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 11vw;
  grid-row: 52 / span 8;
  grid-column: 52 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C8_02 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 11vw;
  grid-row: 60 / span 8;
  grid-column: 52 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C8_03 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 11vw;
  grid-row: 68 / span 8;
  grid-column: 52 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C8_04 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 11vw;
  grid-row: 76 / span 8;
  grid-column: 52 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C8_05 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 11vw;
  grid-row: 84 / span 8;
  grid-column: 52 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C8_06 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 11vw;
  grid-row: 92 / span 8;
  grid-column: 52 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C8_07 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 11vw;
  grid-row: 100 / span 8;
  grid-column: 52 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C8_End {
  display: grid;
  grid-template-rows: 2vw;
  grid-template-columns: 2vw 16vw;
  grid-row: 108 / span 4;
  grid-column: 52 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 1px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C9 {
  display: grid;
  grid-template-rows: 4vw;
  grid-template-columns: 20vw 36vw 3vw 6vw;
  grid-row: 113 / span 6;
  grid-column: 5 / span 67;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 10px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 10px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C9_05 {
  display: grid;
  grid-template-rows: 1vw;
  grid-template-columns: 67vw;
  grid-row: 119 / span 1;
  grid-column: 5 / span 67;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0 0 0 0;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C9_01 {
  display: grid;
  grid-template-rows: 29vw 1vw 10vw;
  grid-template-columns: 47vw;
  grid-row: 120 / span 42;
  grid-column: 5 / span 49;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C9_02 {
  display: grid;
  grid-template-rows: 8vw 4vw;
  grid-template-columns: 16vw;
  grid-row: 120 / span 14;
  grid-column: 54 / span 18;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 0px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 0px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C9_03 {
  display: grid;
  grid-template-rows: 8vw 4vw;
  grid-template-columns: 16vw;
  grid-row: 134 / span 14;
  grid-column: 54 / span 18;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 0px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 0px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C9_04 {
  display: grid;
  grid-template-rows: 8vw 4vw;
  grid-template-columns: 16vw;
  grid-row: 148 / span 14;
  grid-column: 54 / span 18;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 0px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 0px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C9_06 {
  display: grid;
  grid-template-rows: 1vw;
  grid-template-columns: 67vw;
  grid-row: 162 / span 1;
  grid-column: 5 / span 67;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0 0 0 0;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C10_Start {
  display: grid;
  grid-template-rows: 3vw;
  grid-template-columns: 18vw;
  grid-row: 164 / span 5;
  grid-column: 5 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 10px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 10px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C10_01 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 11vw;
  grid-row: 169 / span 8;
  grid-column: 5 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C10_02 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 11vw;
  grid-row: 177 / span 8;
  grid-column: 5 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C10_03 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 11vw;
  grid-row: 185 / span 8;
  grid-column: 5 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C10_04 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 11vw;
  grid-row: 193 / span 8;
  grid-column: 5 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C10_05 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 11vw;
  grid-row: 201 / span 8;
  grid-column: 5 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C10_End {
  display: grid;
  grid-template-rows: 2vw;
  grid-template-columns: 2vw 16vw;
  grid-row: 209 / span 4;
  grid-column: 5 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 1px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C11 {
  display: grid;
  grid-template-rows: 14vw 1vw 8vw;
  grid-template-columns: 13vw;
  grid-row: 164 / span 25;
  grid-column: 26 / span 15;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 3px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 3px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C12 {
  display: grid;
  grid-template-rows: 17vw 1vw 5vw;
  grid-template-columns: 28vw;
  grid-row: 164 / span 25;
  grid-column: 42 / span 30;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 3px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 3px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C13 {
  display: grid;
  grid-template-rows: 15vw 1vw 5vw;
  grid-template-columns: 18vw;
  grid-row: 190 / span 23;
  grid-column: 26 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 3px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 3px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C14 {
  display: grid;
  grid-template-rows: 9vw;
  grid-template-columns: 8vw 1vw 14vw;
  grid-row: 190 / span 11;
  grid-column: 47 / span 25;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 3px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 3px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C15 {
  display: grid;
  grid-template-rows: 9vw;
  grid-template-columns: 14vw 1vw 8vw;
  grid-row: 202 / span 11;
  grid-column: 47 / span 25;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 3px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 3px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C16 {
  display: grid;
  grid-template-rows: 17vw;
  grid-template-columns: 14vw 1vw 24vw;
  grid-row: 214 / span 19;
  grid-column: 5 / span 41;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 3px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 3px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C17 {
  display: grid;
  grid-template-rows: 19vw;
  grid-template-columns: 25vw;
  grid-row: 214 / span 19;
  grid-column: 47 / span 25;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0 0 0 0;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C18 {
  display: grid;
  grid-template-rows: 23vw;
  grid-template-columns: 42vw 1vw 21vw;
  grid-row: 234 / span 25;
  grid-column: 5 / span 67;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 3px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 3px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C19_Start {
  display: grid;
  grid-template-rows: 3vw;
  grid-template-columns: 4vw 16vw;
  grid-row: 260 / span 5;
  grid-column: 5 / span 22;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 10px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 10px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C19_01 {
  display: grid;
  grid-template-rows: 10vw 1vw 6vw;
  grid-template-columns: 20vw;
  grid-row: 265 / span 19;
  grid-column: 5 / span 22;
  background-color: #f5f1f1;
  grid-gap: 0;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 0px) calc(1vw - 0px) calc(1vw - 0px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C19_02 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 13vw;
  grid-row: 284 / span 8;
  grid-column: 5 / span 22;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C19_03 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 13vw;
  grid-row: 292 / span 8;
  grid-column: 5 / span 22;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C19_End {
  display: grid;
  grid-template-rows: 2vw;
  grid-template-columns: 2vw 18vw;
  grid-row: 300 / span 4;
  grid-column: 5 / span 22;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 1px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C20_Start {
  display: grid;
  grid-template-rows: 3vw;
  grid-template-columns: 4vw 17vw;
  grid-row: 260 / span 5;
  grid-column: 28 / span 23;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 10px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 10px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C20_01 {
  display: grid;
  grid-template-rows: 10vw 1vw 6vw;
  grid-template-columns: 21vw;
  grid-row: 265 / span 19;
  grid-column: 28 / span 23;
  background-color: #f5f1f1;
  grid-gap: 0;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C20_02 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 14vw;
  grid-row: 284 / span 8;
  grid-column: 28 / span 23;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C20_03 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 14vw;
  grid-row: 292 / span 8;
  grid-column: 28 / span 23;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C20_End {
  display: grid;
  grid-template-rows: 2vw;
  grid-template-columns: 2vw 17vw;
  grid-row: 300 / span 4;
  grid-column: 28 / span 23;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 1px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C21 {
  display: grid;
  grid-template-rows: 16vw;
  grid-template-columns: 20vw;
  grid-row: 260 / span 16;
  grid-column: 52 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0 0 0 0;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C22_Start {
  display: grid;
  grid-template-rows: 3vw;
  grid-template-columns: 4vw 14vw;
  grid-row: 277 / span 5;
  grid-column: 52 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 10px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 10px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C22_01 {
  display: grid;
  grid-template-rows: 10vw 1vw 6vw;
  grid-template-columns: 18vw;
  grid-row: 282 / span 19;
  grid-column: 52 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C22_02 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 11vw;
  grid-row: 301 / span 8;
  grid-column: 52 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C22_03 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 11vw;
  grid-row: 309 / span 8;
  grid-column: 52 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C22_End {
  display: grid;
  grid-template-rows: 2vw;
  grid-template-columns: 2vw 16vw;
  grid-row: 317 / span 4;
  grid-column: 52 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 1px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C23_Start {
  display: grid;
  grid-template-rows: 3vw;
  grid-template-columns: 4vw 16vw;
  grid-row: 305 / span 5;
  grid-column: 5 / span 22;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 10px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 10px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C23_01 {
  display: grid;
  grid-template-rows: 12vw 1vw 6vw;
  grid-template-columns: 20vw;
  grid-row: 310 / span 21;
  grid-column: 5 / span 22;
  background-color: #f5f1f1;
  grid-gap: 0;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C23_02 {
  display: grid;
  grid-template-rows: 5vw 1vw;
  grid-template-columns: 6vw 1vw 13vw;
  grid-row: 331 / span 8;
  grid-column: 5 / span 22;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C23_03 {
  display: grid;
  grid-template-rows: 5vw 1vw;
  grid-template-columns: 6vw 1vw 13vw;
  grid-row: 339 / span 8;
  grid-column: 5 / span 22;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C23_End {
  display: grid;
  grid-template-rows: 2vw;
  grid-template-columns: 2vw 16vw;
  grid-row: 347 / span 4;
  grid-column: 5 / span 22;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 1px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C24 {
  display: grid;
  grid-template-rows: 20vw;
  grid-template-columns: 23vw;
  grid-row: 305 / span 20;
  grid-column: 28 / span 23;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0 0 0 0;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C25_Start {
  display: grid;
  grid-template-rows: 3vw;
  grid-template-columns: 4vw 17vw;
  grid-row: 326 / span 5;
  grid-column: 28 / span 23;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 10px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 10px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C25_01 {
  display: grid;
  grid-template-rows: 12vw 1vw 6vw;
  grid-template-columns: 21vw;
  grid-row: 331 / span 21;
  grid-column: 28 / span 23;
  background-color: #f5f1f1;
  grid-gap: 0;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C25_02 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 14vw;
  grid-row: 352 / span 8;
  grid-column: 28 / span 23;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C25_03 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 14vw;
  grid-row: 360 / span 8;
  grid-column: 28 / span 23;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C25_End {
  display: grid;
  grid-template-rows: 2vw;
  grid-template-columns: 2vw 19vw;
  grid-row: 368 / span 4;
  grid-column: 28 / span 23;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 1px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C26_Start {
  display: grid;
  grid-template-rows: 3vw;
  grid-template-columns: 4vw 14vw;
  grid-row: 322 / span 5;
  grid-column: 52 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 10px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 10px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C26_01 {
  display: grid;
  grid-template-rows: 12vw 1vw 6vw;
  grid-template-columns: 18vw;
  grid-row: 327 / span 21;
  grid-column: 52 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C26_02 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 11vw;
  grid-row: 348 / span 8;
  grid-column: 52 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C26_03 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 11vw;
  grid-row: 356 / span 8;
  grid-column: 52 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C26_End {
  display: grid;
  grid-template-rows: 2vw;
  grid-template-columns: 2vw 16vw;
  grid-row: 364 / span 4;
  grid-column: 52 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 1px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C27_Start {
  display: grid;
  grid-template-rows: 3vw;
  grid-template-columns: 4vw 16vw;
  grid-row: 352 / span 5;
  grid-column: 5 / span 22;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 10px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 10px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C27_01 {
  display: grid;
  grid-template-rows: 12vw 1vw 6vw;
  grid-template-columns: 20vw;
  grid-row: 357 / span 21;
  grid-column: 5 / span 22;
  background-color: #f5f1f1;
  grid-gap: 0;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C27_02 {
  display: grid;
  grid-template-rows: 5vw 1vw;
  grid-template-columns: 6vw 1vw 13vw;
  grid-row: 378 / span 8;
  grid-column: 5 / span 22;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C27_03 {
  display: grid;
  grid-template-rows: 5vw 1vw;
  grid-template-columns: 6vw 1vw 13vw;
  grid-row: 386 / span 8;
  grid-column: 5 / span 22;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C27_End {
  display: grid;
  grid-template-rows: 2vw;
  grid-template-columns: 2vw 16vw;
  grid-row: 394 / span 4;
  grid-column: 5 / span 22;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 1px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C28_Start {
  display: grid;
  grid-template-rows: 3vw;
  grid-template-columns: 4vw 17vw;
  grid-row: 373 / span 5;
  grid-column: 28 / span 23;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 10px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 10px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C28_01 {
  display: grid;
  grid-template-rows: 12vw 1vw 6vw;
  grid-template-columns: 21vw;
  grid-row: 378 / span 21;
  grid-column: 28 / span 23;
  background-color: #f5f1f1;
  grid-gap: 0;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C28_02 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 14vw;
  grid-row: 399 / span 8;
  grid-column: 28 / span 23;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C28_03 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 14vw;
  grid-row: 407 / span 8;
  grid-column: 28 / span 23;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C28_End {
  display: grid;
  grid-template-rows: 2vw;
  grid-template-columns: 2vw 19vw;
  grid-row: 415 / span 4;
  grid-column: 28 / span 23;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 1px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C29_Start {
  display: grid;
  grid-template-rows: 3vw;
  grid-template-columns: 4vw 14vw;
  grid-row: 369 / span 5;
  grid-column: 52 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 10px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 10px 1px 1px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C29_01 {
  display: grid;
  grid-template-rows: 12vw 1vw 6vw;
  grid-template-columns: 18vw;
  grid-row: 374 / span 21;
  grid-column: 52 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C29_02 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 11vw;
  grid-row: 395 / span 8;
  grid-column: 52 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C29_03 {
  display: grid;
  grid-template-rows: 6vw 1vw;
  grid-template-columns: 6vw 1vw 11vw;
  grid-row: 403 / span 8;
  grid-column: 52 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C29_End {
  display: grid;
  grid-template-rows: 2vw;
  grid-template-columns: 2vw 16vw;
  grid-row: 411 / span 4;
  grid-column: 52 / span 20;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 1px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C30 {
  display: grid;
  grid-template-rows: 21vw;
  grid-template-columns: 22vw;
  grid-row: 421 / span 22;
  grid-column: 5 / span 22;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 10px) calc(0 - 0px) calc(0 - 0px) calc(0 - 0px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 10px 0px 0px 0px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C31_Start {
  display: grid;
  grid-template-rows: 5vw 1vw;
  grid-template-columns: 21vw;
  grid-row: 421 / span 8;
  grid-column: 27 / span 23;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 10px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 10px 1px 0px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C31_01 {
  display: grid;
  grid-template-rows: 7vw 1vw 1vw;
  grid-template-columns: 21vw;
  grid-row: 429 / span 10;
  grid-column: 27 / span 23;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0 calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C31_End {
  display: grid;
  grid-template-rows: 2vw;
  grid-template-columns: 2vw 19vw;
  grid-row: 439 / span 4;
  grid-column: 27 / span 23;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 1px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C32_Start {
  display: grid;
  grid-template-rows: 5vw 1vw;
  grid-template-columns: 20vw;
  grid-row: 421 / span 8;
  grid-column: 50 / span 22;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 10px) calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 10px 1px 0px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C32_01 {
  display: grid;
  grid-template-rows: 8vw 1vw;
  grid-template-columns: 7vw 1vw 12vw;
  grid-row: 429 / span 10;
  grid-column: 50 / span 22;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0 calc(1vw - 1px) calc(1vw - 0px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 0px 1px;
  border-color: black lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divBody > .divCol_2 > .div_C32_End {
  display: grid;
  grid-template-rows: 2vw;
  grid-template-columns: 2vw 18vw;
  grid-row: 439 / span 4;
  grid-column: 50 / span 22;
  background-color: #f5f1f1;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: calc(1vw - 0px) calc(1vw - 1px) calc(1vw - 1px) calc(1vw - 1px);
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 1px 1px 1px;
  border-color: lightgray lightgray lightgray lightgray;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divFooter {
  display: grid;
  grid-template-rows: 20% 25% 15% 40%;
  grid-template-columns: 1fr;
  background-color: #e794a2;
  grid-gap: 0px;
  height: auto;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divFooter > .box-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divFooter > .box-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divFooter > .box-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

.divRoot > .divFooter > .box-4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-width: 0px 0px 0px 0px;
  border-color: black black black black;
  box-shadow: 0px 0px black, 0px 0px black, 0px 0px black, 0px 0px black;
}

ul#horizontal-list {
  list-style: none;
  font-size: 7pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  letter-spacing: 1pt;
}

ul#horizontal-list li {
  display: inline;
}

ul#horizontal-list li::before {
  content: "| ";
}

ul#horizontal-list li:nth-child(1)::before {
  content: "";
}

ul#horizontal-list li:hover {
  font-weight: bold;
  cursor: pointer;
}

.img50 {
  width: 50px;
  height: 50px;
  cursor: pointer;
  max-width: 100%;
}

.Photo {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.arrowCircle {
  background-size: cover;
  width: 80%;
  height: 100%;
}

input {
  border: 0;
  background-color: transparent;
  width: 100%;
  color: #8d8787;
}

.logo {
  width: 100px;
}

.logoFooter {
  width: 125px;
}

.smalldw {
  font-family: sans-serif;
  color: #646464;
  font-size: 0.7vw;
  margin-top: 0vw;
  margin-bottom: 0.4vw;
}

.smalldwVideo {
  font-family: sans-serif;
  color: #646464;
  font-size: 1vw;
  margin-top: 0vw;
  margin-bottom: 0.4vw;
}

.smalltxt {
  font-family: sans-serif;
  color: black;
  font-size: 0.85vw;
  margin-top: 0.4vw;
  margin-bottom: 0vw;
}

.smalltxtRecent {
  font-family: sans-serif;
  color: black;
  font-size: 0.85vw;
  margin-top: 0vw;
  margin-bottom: 0vw;
}

.smalltxtVideo {
  font-family: sans-serif;
  color: black;
  font-size: 1vw;
  margin-top: 0.4vw;
  margin-bottom: 0vw;
}

.smallup {
  font-family: sans-serif;
  color: #646464;
  font-size: 0.7vw;
  margin-top: 0.4vw;
  margin-bottom: 0vw;
}

.txtMore {
  font-family: sans-serif;
  color: black;
  font-size: 0.8vw;
  margin-top: auto;
  margin-bottom: auto;
}

.titleVideo {
  font-family: sans-serif;
  color: black;
  font-size: 1.2vw;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: 0.5vw;
}

.txtVideo {
  font-family: sans-serif;
  color: black;
  font-size: 1.2vw;
  margin-top: auto;
  margin-bottom: auto;
}

.title1 {
  font-family: Arial;
  color: black;
  font-size: 1.39vw;
  margin-top: 0vw;
  margin-bottom: 0vw;
}

.div_C4_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #838181;
  font-size: 2.1vw;
  font-weight: bold;
  margin-top: 0vw;
  margin-bottom: 0vw;
}

.div_C4_title2 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.8vw;
  margin-top: 0vw;
  margin-bottom: 0vw;
}

.div_C8_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C9_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2.5vw;
  font-weight: bold;
  text-align: center;
  margin-top: 0.5vw;
  margin-bottom: 0vw;
}

.div_C10_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C11_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C12_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C14_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C15_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C16_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.4vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C18_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C18_title2 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1vw;
  font-weight: normal;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C19_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C19_01_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C20_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C20_01_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.1vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C22_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C22_01_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.1vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C23_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C23_01_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.1vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C25_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C25_01_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.1vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C26_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 2vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C26_01_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.1vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C27_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.7vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C27_01_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.1vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C28_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.7vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C28_01_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.1vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C29_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.8vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C29_01_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.1vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C31_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.8vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C31_01_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1vw;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C32_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.8vw;
  font-weight: bold;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.div_C32_01_title1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1vw;
  margin-top: 0.25vw;
  margin-bottom: 0vw;
}

.smallRights {
  font-family: sans-serif;
  color: black;
  font-size: 8pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
  letter-spacing: 1pt;
  line-height: 12pt;
  text-align: center;
}

.smallgold {
  font-family: "Roboto", sans-serif;
  color: #f3a426;
  font-size: 7pt;
  margin-top: 3pt;
  margin-bottom: 3pt;
  letter-spacing: 1pt;
}

.smallblue {
  font-family: "Roboto", sans-serif;
  color: #1583a5;
  font-size: 7pt;
  margin-top: 3pt;
  margin-bottom: 3pt;
  letter-spacing: 1pt;
}

.smallblue:hover {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: black;
  font-size: 8pt;
  cursor: pointer;
}

.bb {
  border-bottom: lightgray solid 1px;
}

.text {
  font-family: sans-serif;
  color: black;
  font-size: 9pt;
  margin-top: 3pt;
  margin-bottom: 3pt;
  line-height: 12pt;
}

.title2 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 26pt;
  margin-top: 2pt;
  margin-bottom: 12pt;
  line-height: 30pt;
}

.title5 {
  font-family: "Fjalla One", sans-serif;
  color: black;
  font-size: 14pt;
  line-height: 18pt;
}

.title6 {
  font-family: "Fjalla One", sans-serif;
  color: black;
  font-size: 24pt;
  line-height: 30pt;
}

.icon {
  background-image: "";
}
